<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ shop.locale }}">
<!--<![endif]-->

<head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"public-desire-usa.myshopify.com",ver:"1.9"},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e]),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:window.TriplePixelData.ver},O("https://api.config-security.com/",5,p),O("https://triplewhale-pixel.web.app/dot1.9.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>






  {% include 'elevar-head' %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="{{ settings.color_primary }}">
	<link rel="canonical" href="{{ canonical_url }}">

	{% if settings.favicon != blank %}
	<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

	<title>{{ shop.name }}</title>

	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{% include 'social-meta-tags' %}

	{{ 'theme.scss.css' | asset_url | stylesheet_tag }}

	<!--[if (gt IE 9)|!(IE)]><!-->
	<script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
	<!--<![endif]-->
	<!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

	<!--[if (gt IE 9)|!(IE)]><!-->
	<script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
	<!--<![endif]-->
	<!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

	{{ content_for_header }}

  


  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->

</head>

<body class="template-password">
	<header>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 col-lg-6 mx-auto mt-2 mt-md-4">
					<h1 class="text-center">{{ shop.name }}</h1>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</header>

	<main id="MainContent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 col-lg-6 mx-auto mt-2 mt-md-4 text-center">
					<div class="py-3 px-3">
						{{ content_for_layout }}
					</div><!-- bg-grey -->
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</main>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 col-lg-6 mx-auto mt-4 text-center">
					<a href="https://www.velstar.co.uk/">Shopify by {% include 'icon-velstar-logo' %}</a>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</footer>

	<div id="Login-bg"></div>
	<div id="Login">
		<h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
		{% form 'storefront_password' %}
		{{ form.errors | default_errors }}
		<label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
		<input type="password" name="password" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
		<button type="submit" name="commit">
			{{ 'general.password_page.login_form_submit' | t }}
		</button>
		{% endform %}
		<p>{{ 'general.password_page.admin_link_html' | t }}</p>
	</div>

	<script>

	//Target all anchor tags
	var anchors = document.getElementsByTagName("a"),
		loginBackground = document.querySelector('#Login-bg'),
		loginForm = document.querySelector('#Login');

	for (var i = 0, length = anchors.length; i < length; i++) {
		var anchor = anchors[i];
		//Clicking 'This' link will check the href attribute
		anchor.addEventListener('click', function(event) {

			//if attribute matches #Login then
			if (this.getAttribute('href') === "#Login") {
				event.preventDefault();

				loginBackground.classList.add('active');
				loginForm.classList.add('active');
				
			}

		}, true);
	};

	loginBackground.addEventListener('click', function(event) {
		loginBackground.classList.remove('active');
		loginForm.classList.remove('active');
	}, true);

	</script>

	{% include 'schema-json' %}
  {% include 'elevar-body-end' %}
</body>

</html>