<style>
  div#owl-carousel1111 .owl-nav, div#owl-carousel1111 .owl-dots {
    display: none;
}
  #shopify-section-announcement-bar .owl-carousel .owl-stage {
    transition: all 2s ease 0s !important;
}
  #shopify-section-announcement-bar .announcement-bar .announceslide_two_info {
    margin: -10px;
    color: #1d1d1b;
    font-size: 13px;
}
  .item.cstm-slide-head {
    padding: 0;
    margin: 0;
}
     #shopify-section-announcement-bar .announcement-bar {
    padding: 20px 0px;
    height: 0vh;
}
  .item {
    background-color: #e5d5cc;
    color: #000 !important;
    text-align: center;
}

  
  .announcement-bar {
    background-color: #e3d5cc;
    text-align: center;
    text-decoration: none;
    height: 100%;
  }
  .announcement-bar__message {
    font-size: 13px;
    padding: 0;
    color: #1d1d1b;
    height: 100%;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .announcement-bar__message a {
    font-size: 13px;
    color: #1d1d1b;
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;
  }
</style>  

{%- if section.settings.show_announcement -%}
{%- if section.settings.home_page_only == false or template.name == 'index' -%}

{%- if section.settings.link == blank -%}
<div class="announcement-bar">
  <p class="announcement-bar__message">{{ section.settings.text | escape }}</p>
</div>
{%- else -%}
  
    <a href="{{ section.settings.link }}" >
    <div class="announcement-bar">
    <p class="announcement-bar__message">{{ section.settings.text | escape }} {{ section.settings.announcement_link | escape }} </p>
    </div>
    </a>

{% comment %}
<div class="mobile-view-info">
  <a href="{{ section.settings.link }}" >
<div class="announcement-bar">
<p class="announcement-bar__message">{{ section.settings.text | escape }} {{ section.settings.announcement_link | escape }} </p>
</div>
</a>
</div>
 {% endcomment %}
{%- endif -%}

{%- endif -%}
{%- endif -%}



{% comment %}

<div id="owl-carousel1111" class="owl-carousel owl-theme Desktop-view-info">
  
      <div class="item">
          <a href="{{ section.settings.link }}" >
          <div class="announcement-bar">
          <p class="announcement-bar__message">{{ section.settings.text | escape }} {{ section.settings.announcement_link | escape }} </p>
          </div>
          </a>
      </div>
  
  <!--second slide-->
    <div class="item cstm-slide-head">
        <a href="{{ section.settings.announceslide2_link }}" >
        <div class="announcement-bar">
        <p class="announceslide_two_info">{{ section.settings.announceslide2 }}</p>
        </div>
        </a>
   </div>
  
  </div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"  rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"  rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script>
$('#owl-carousel1111').owlCarousel({
    loop: true,
    margin: 0,
    dots: true,
    nav: true,
    items: 1,
  autoplay:true,
})

</script>
{% endcomment %}
{% schema %}
{
"name": "Announcement bar",
"settings": [
{
"type": "checkbox",
"id": "show_announcement",
"label": "Show announcement",
"default": false
},
{
"type": "checkbox",
"id": "home_page_only",
"label": "Home page only",
"default": true
},
{
"type": "color",
"id": "announcement_bar_color",
"label": "Background color",
"default": "#000000"
},
{
"type": "color",
"id": "announcement_bar_text_color",
"label": "Text color",
"default": "#ffffff"
},
{
"type": "text",
"id": "text",
"label": "Announcement text",
"default": "Announce something here"
},
{
"type": "text",
"id": "announcement_link",
"label": "Announcement Link text",
"default": "Announce Link here"
},
{
"type": "url",
"id": "link",
"label": "Announcement link"
},

     {
"type": "html",
"id": "announceslide2",
"label": "Announcement Slide Two text"
},
{
"type": "url",
"id": "announceslide2_link",
"label": "Announcement Slide Two link"
}
]
}
{% endschema %}