<style>
  .header-bottom-bar{
    background-color: #000;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-bottom-bar-inner {
      max-width: 320px;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
  }
  .header-bottom-bar-inner p {
      font-size: 14px;
      line-height: 1.4;
      color: #FFF;
      margin-bottom: 0;
  }
</style>
{% assign todayDate = 'now' | date: '%d' | plus: 0 %}
{% assign todayMonth = 'now' | date: '%m' | plus: 0 %}
{% assign todayYear = 'now' | date: '%Y' | plus: 0 %}
<section  data-today-date="{{todayDate}}" data-today-month="{% if todayMonth != "10" and todayMonth != "11" and todayMonth != "12" %}{{todayMonth | prepend: 0}}{% else %}{{ todayMonth }}{% endif %}" data-today-year="{{todayYear}}" class="header-bottom-bar header-bottom-bar-desktop">
    <div class="row">
      <div class="col-lg-4 header-bottom-bar-item">
        <div class="header-bottom-bar-inner">
        	<p>{{ section.settings.hb_text_box_one }}</p>
        </div>        
      </div>
      <div class="col-lg-4 header-bottom-bar-item">
        <div class="header-bottom-bar-inner">
        	<p>{{ section.settings.hb_text_box_two }}</p>
        </div>
      </div>
      <div class="col-lg-4 header-bottom-bar-item">
        {% comment%}
        <div class="header-bottom-bar-inner">
        	<p>{{ section.settings.hb_text_box_three }}</p>
        </div>
        {% endcomment%}
        <div class="usp-item daily-countdown" data-position="{{forloop.index}}">
            <h4>{% if block.settings.title != blank %}{{block.settings.title}}{% endif %} <span class="dailyCountdown" data-hours="{{block.settings.hour_range}}" data-minutes="{{block.settings.minute_range}}" data-timezone="{{block.settings.timezone}}"></span> {% if block.settings.after_title != blank %}{{block.settings.after_title}}{% endif %}</h4>
        </div><!-- usp-item daily-countdown -->
      </div>
    </div>
</section>

{% schema %}
  {
    "name": "Header Bottom Bar",
	"blocks": 
	 [
        {
            "type": "usp_item",
            "name": "USP Item",
            "settings": [
                {
                    "type":     "text",
                    "id":       "title",
                    "label":    "Title"
                },
                {
                    "type":     "url",
                    "id":       "item_link",
                    "label":    "Link"
                }
            ]
        },
        {
            "type": "daily_countdown",
            "name": "Daily Countdown",
            "limit": 1,
            "settings": [
                {
                    "type":     "header",
                    "content":  "Countdown Instructions"
                },
                {
                    "type":     "paragraph",
                    "content":  "Define a time, to countdown too. For example, if the hour value is 23, and minute value is 30. It will countdown to 11:30PM. Once the countdown is finished, it will not appear until the following day."
                },
                {
                    "type":      "range",
                    "id":        "hour_range",
                    "min":        1,
                    "max":        23,
                    "step":       1,
                    "label":     "Hour",
                    "default":   16,
                    "info":      "24 hour clock format"
                },
                {
                    "type":      "range",
                    "id":        "minute_range",
                    "min":        0,
                    "max":        59,
                    "step":       1,
                    "label":     "Minute",
                    "default":   0
                },
                {
                    "type":      "select",
                    "id":        "timezone",
                    "label":     "Select a timezone",
                    "options": [
                        {
                            "value": "us",
                            "label": "US (PST)"
                        },
                        {
                            "value": "uk",
                            "label": "UK"
                        }
                    ],
                    "default":   "uk"
                },
                {
                    "type":      "text",
                    "id":        "title",
                    "label":     "Before timer"
                },
                {
                    "type":      "text",
                    "id":        "after_title",
                    "label":     "After timer"
                }
            ]
        },
        {
            "type": "date_countdown",
            "name": "Date Countdown",
            "limit": 1,
            "settings": [
                {
                    "type":     "header",
                    "content":  "Countdown Instructions"
                },
                {
                    "type":     "paragraph",
                    "content":  "Countdown to a specific date and time."
                },
                {
                    "type":      "select",
                    "id":        "month",
                    "label":     "Select a Month",
                    "options": [
                        {
                            "value": "01",
                            "label": "January"
                        },
                        {
                            "value": "02",
                            "label": "February"
                        },
                        {
                            "value": "03",
                            "label": "March"
                        },
                        {
                            "value": "04",
                            "label": "April"
                        },
                        {
                            "value": "05",
                            "label": "May"
                        },
                        {
                            "value": "06",
                            "label": "June"
                        },
                        {
                            "value": "07",
                            "label": "July"
                        },
                        {
                            "value": "08",
                            "label": "August"
                        },
                        {
                            "value": "09",
                            "label": "September"
                        },
                        {
                            "value": "10",
                            "label": "October"
                        },
                        {
                            "value": "11",
                            "label": "November"
                        },
                        {
                            "value": "12",
                            "label": "December"
                        }
                    ],
                    "default":   "10"
                },
                {
                    "type":      "select",
                    "id":        "date",
                    "label":     "Select a date",
                    "options": [
                        {
                            "value": "01",
                            "label": "01"
                        },
                        {
                            "value": "02",
                            "label": "02"
                        },
                        {
                            "value": "03",
                            "label": "03"
                        },
                        {
                            "value": "04",
                            "label": "04"
                        },
                        {
                            "value": "05",
                            "label": "05"
                        },
                        {
                            "value": "06",
                            "label": "06"
                        },
                        {
                            "value": "07",
                            "label": "07"
                        },
                        {
                            "value": "08",
                            "label": "08"
                        },
                        {
                            "value": "09",
                            "label": "09"
                        },
                        {
                            "value": "10",
                            "label": "10"
                        },
                        {
                            "value": "11",
                            "label": "11"
                        },
                        {
                            "value": "12",
                            "label": "12"
                        },
                        {
                            "value": "13",
                            "label": "13"
                        },
                        {
                            "value": "14",
                            "label": "14"
                        },
                        {
                            "value": "15",
                            "label": "15"
                        },
                        {
                            "value": "16",
                            "label": "16"
                        },
                        {
                            "value": "17",
                            "label": "17"
                        },
                        {
                            "value": "18",
                            "label": "18"
                        },
                        {
                            "value": "19",
                            "label": "19"
                        },
                        {
                            "value": "20",
                            "label": "20"
                        },
                        {
                            "value": "21",
                            "label": "21"
                        },
                        {
                            "value": "22",
                            "label": "22"
                        },
                        {
                            "value": "23",
                            "label": "23"
                        },
                        {
                            "value": "24",
                            "label": "24"
                        },
                        {
                            "value": "25",
                            "label": "25"
                        },
                        {
                            "value": "26",
                            "label": "26"
                        },
                        {
                            "value": "27",
                            "label": "27"
                        },
                        {
                            "value": "28",
                            "label": "28"
                        },
                        {
                            "value": "29",
                            "label": "29"
                        },
                        {
                            "value": "30",
                            "label": "30"
                        },
                        {
                            "value": "31",
                            "label": "31"
                        }
                    ],
                    "default":  "15"
                },
                {
                    "type":      "select",
                    "id":        "year",
                    "label":     "Select a Year",
                    "options": [
                        {
                            "value": "2020",
                            "label": "2020"
                        },
                        {
                            "value": "2021",
                            "label": "2021"
                        },
                        {
                            "value": "2022",
                            "label": "2022"
                        },
                        {
                            "value": "2023",
                            "label": "2023"
                        },
                        {
                            "value": "2024",
                            "label": "2024"
                        },
                        {
                            "value": "2025",
                            "label": "2025"
                        },
                        {
                            "value": "2026",
                            "label": "2026"
                        },
                        {
                            "value": "2027",
                            "label": "2027"
                        },
                        {
                            "value": "2028",
                            "label": "2028"
                        },
                        {
                            "value": "2029",
                            "label": "2029"
                        },
                        {
                            "value": "2030",
                            "label": "2030"
                        }
                    ],
                    "default":   "2020"
                },
                {
                    "type":      "range",
                    "id":        "hour_range",
                    "min":        1,
                    "max":        23,
                    "step":       1,
                    "label":     "Hour",
                    "default":   1,
                    "info":      "24 hour clock format"
                },
                {
                    "type":      "range",
                    "id":        "minute_range",
                    "min":        0,
                    "max":        59,
                    "step":       1,
                    "label":     "Minute",
                    "default":   0
                },
                {
                    "type":      "select",
                    "id":        "timezone",
                    "label":     "Select a timezone",
                    "options": [
                        {
                            "value": "us",
                            "label": "US (PST)"
                        },
                        {
                            "value": "uk",
                            "label": "UK"
                        }
                    ],
                    "default":   "uk"
                },
                {
                    "type":      "text",
                    "id":        "title",
                    "label":     "Before timer"
                },
                {
                    "type":      "text",
                    "id":        "after_title",
                    "label":     "After timer"
                },
                {
                    "type":      "text",
                    "id":        "final",
                    "label":     "Finished Text",
                    "info":      "Once timer has finished, this text will show"
                }
            ]
        }
    ],
    "settings": [
	{
		"id":"hb_text_box_one",
		"type":"text",
		"label":"Title One",
		"default":"Title one"
	},	
	{
		"id":"hb_text_box_two",
		"type":"text",
		"label":"Title Two",
		"default":"Title two"
	},	
	{
		"id":"hb_text_box_three",
		"type":"text",
		"label":"Title Three",
		"default":"Title three"
	}	
	],
    "presets": [
      {
          "name": 		"Header Bottom Bar",
          "category": 	"Header"
      }
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
