{% comment %}
<div class="container-fluid py-3 d-md-none">
	<div class="row">
		<div class="col-12 text-v-small">{% include 'breadcrumbs' %}</div>
	</div><!-- row -->
</div><!-- container -->

<header class="page-header{% if section.settings.background %} image lazyload {%endif%} d-md-none mb-4" {% if section.settings.background %} data-bgset="{% include 'responsive-bg-image', image: section.settings.background %}"{% endif %}>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 mb-md-0 col-md-8 col-lg-6 mx-auto text-center">
				<h1>{{ page.title }}</h1>
			</div>
		</div><!-- row -->
	</div>
</header>
{% endcomment %}

<div class="container-fluid px-0">
    <div class="row no-gutters">
        <div class="col-12">
            <picture>
                <source media="(max-width: 767px)" srcset="{{ section.settings.mobile_image | img_url: '760x' }}">
                <source media="(min-width: 1440px)" srcset="{{ section.settings.desktop_image | img_url: '1920x' }}">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ section.settings.desktop_image | img_url: '1920x' }}" class="img-fluid lazyload d-block mx-auto" alt="{{ section.settings.desktop_image.alt }}">
            </picture>
        </div>
        <div class="col-12">
            <div class="klarna-hero-message text-center">{{section.settings.message_under_hero}}</div>
           <h1 class="d-none"></h1>
            <h2 class="d-none"></h2>
            <h2 class="d-none"></h2>
        </div>
    </div>
</div>

<div class="container">
	<div class="row mb-5">
		<div class="col-12 col-md-12 mx-auto klarna-step-holder">
                {% for block in section.blocks %}
                    {% case block.type %}
                    {% when 'three_step' %}
                        <div class="klarna-step-block text-center">
                      {% comment %}                             <div class="block-title">{{block.settings.block_title}}</div>
                            <div class="block-subtitle">{{block.settings.block_subtitle}}</div> {% endcomment %}

                          <div class="step-holder">
                            <figure>
                              <img src="{{ block.settings.step-img | img_url: 'master' }}" alt="image" class="img-fluid">
                            </figure>
                             <div class="block-title"><h4>{{block.settings.block_title}}</h4></div>
                            <div class="desc">
                              <p>{{ block.settings.description }}</p>
                            </div>
                          </div>

                          {% comment %}
                            <div class="step-wrapper">
                                <div class="step step-one">
                                    <div class="step-number">1</div>
                                    <div class="step-title">{{block.settings.step_one}}</div>
                                </div>
                                <div class="step step-two">
                                    <div class="step-number">2</div>
                                    <div class="step-title">{{block.settings.step_two}}</div>
                                </div>
                                <div class="step step-three">
                                    <div class="step-number">3</div>
                                    <div class="step-title">{{block.settings.step_three}}</div>
                                </div>
                            </div>
                          

                            <div class="block-description">{{block.settings.block_description}}</div>
                            {% if block.settings.block_terms != blank %}
                                <div class="block-terms">{{block.settings.block_terms}}</div>
                            {% endif %}
                            <br>
                           <div class="block-description">{{block.settings.block_description1}}</div>
                            <div class="block-terms">{{block.settings.block_description2}}</div>
                          {% endcomment %}
                      
                        </div>
                    {% endcase %}
                {% endfor %}
		</div>
        <div class="col-12">
            {% for block in section.blocks %}
                    {% case block.type %}
                    {% when 'more_info' %}
                        <div class="klarna-more-info">
                          {% if block.settings.button_title != blank %}
                            <a href="{{block.settings.block_subtitle}}" class="text-center">
                                <div class="info-title">{{block.settings.button_title}}</div>
                                <div class="info-link">{{block.settings.button_link_text}}</div>
                            </a>
                            {% endif %}
                          <div class="more-text">
                            <p>{{ block.settings.more-text }}</p>
                          </div>
                        </div>
                    {% endcase %}
                {% endfor %}
        </div>
	</div>
</div>

{% schema %}
{
  "name": "Klarna",
	"settings": [
		{
            "type":     "image_picker",
            "id":       "desktop_image",
            "label":    "Desktop Image",
            "info":     "Landscape images work best for desktop. We wouldn't recommend exceeding 1920px in width."
        },
        {
            "type":     "image_picker",
            "id":       "mobile_image",
            "label":    "Mobile Image",
            "info":     "Portrait images work best for mobile. We wouldn't recommend exceeding 760px in width."
        },
        {
            "type":      "richtext",
            "id":        "message_under_hero", 
            "label":     "Message Under Hero",
            "default":   "<p>Wanna use Klarna girl? Keep reading for more deets...</p>"
        }
	],
    "blocks": [
		{
			"type": "three_step",
			"name": "Klarna 3 Step Block",
            "limit": 3,
			"settings": [
                 {
					"type": "image_picker",
					"id": "step-img",
					"label": "Step Image"
				},
                {
                  "type": "text",
                  "id": "block_title",
                  "label": "Block Title"
                },
                {
					"type": "richtext",
					"id": "description",
					"label": "Step Description"
				}
                
			]
		},
        {
			"type": "more_info",
			"name": "More Information Block",
            "limit": 1,
			"settings": [
                {
					"type": "text",
					"id": "button_title",
					"label": "Button Title"
				},
                {
					"type": "text",
					"id": "button_link_text",
					"label": "Button Website Link"
				},
                {
					"type": "url",
					"id": "block_subtitle",
					"label": "Button URL"
				},
                {
					"type": "richtext",
					"id": "more-text",
					"label": "More Info"
				}
			]
		}
    ]
}
{% endschema %}

<style>
  .klarna-hero-message{
    background-color:#fff;
  }
  .more-text{
    text-align:center;
    text-transform:none;
  }

  .more-text p{
    margin-bottom:0;
    font-size:12px;
  }

  .klarna-step-block.text-center:first-child{
    display:block;
  }

  #shopify-section-page-klarna img{
    width:100%;
  }

  #shopify-section-page-klarna .container-fluid{
    max-width:100%;
  }
   @media (max-width:990px) and (min-width:767px){
    .klarna-step-holder figure{
      width:210px;
      min-height:190px;
    }
  }
</style>