<div class="container-fluid py-3">
	<div class="row">
		<div class="col-12 text-v-small">{% render 'breadcrumbs' %}</div>
	</div><!-- row -->
</div><!-- container -->

<header class="page-header{% if section.settings.background %} image lazyload {%endif%}" {% if section.settings.background %} data-bgset="{% include 'responsive-bg-image', image: section.settings.background %}"{% endif %}>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 mb-md-0 col-md-8 col-lg-6 mx-auto text-center">
                <span class="baewatch-detail-header">{{section.settings.header}}</span>
                <span class="baewatch-detail-subheader">{{section.settings.sub_header}}</span>
                {% if section.settings.issue_image != blank %}
                    <div class="issue-image"><img src="{{section.settings.issue_image | img_url: '89x'}}" class="img-fluid lazyload"></div>
                {% endif %}
				<h1 class="baewatch-detail-title">{{section.settings.prepend_title}} {{ page.title }}</h1>
			</div>
		</div><!-- row -->
	</div>
</header>

<div class="container px-0">
	<div class="row no-gutters mt-4 mb-5">
        <div class="col-12">
            {% for block in section.blocks %}
                {% case block.type %}
                {% when 'introduction' %}
                    <div class="introduction-section text-center">
                        <div class="featured-image">
                            <picture>
                                <source media="(max-width: 767px)" srcset="{{ block.settings.featured_image_mobile | img_url: '760x' }}">
                                <source media="(min-width: 1440px)" srcset="{{ block.settings.featured_image | img_url: '1440x' }}">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.featured_image | img_url: '1440x' }}" class="img-fluid lazyload d-block mx-auto" alt="{{ block.settings.featured_image.alt }}">
                            </picture>
                        </div>
                        <div class="featured-description rte">{{block.settings.featured_description}}</div>
                    </div>

                {% when 'question' %}
                    <div class="question-section">
                        <div class="featured-image">
                            <picture>
                                <source media="(max-width: 767px)" srcset="{{ block.settings.featured_image_mobile | img_url: '360x' }}">
                                <source media="(min-width: 1440px)" srcset="{{ block.settings.featured_image | img_url: '720x' }}">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.featured_image | img_url: '720x' }}" class="img-fluid lazyload d-block mx-auto" alt="{{ block.settings.featured_image.alt }}">
                            </picture>
                        </div>
                        <div class="text-block">
                            <div class="featured-questions">{{block.settings.featured_description}}</div>
                        </div>
                    </div>

                {% when 'three_image_block' %}
                    <div class="three-image-block">
                        <div class="left-col">
                            <picture>
                                <source media="(max-width: 767px)" srcset="{{ block.settings.featured_image_one_mobile | img_url: '360x' }}">
                                <source media="(min-width: 1440px)" srcset="{{ block.settings.featured_image_one | img_url: '720x' }}">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.featured_image_one | img_url: '720x' }}" class="img-fluid lazyload d-block mx-auto" alt="{{ block.settings.featured_image_one.alt }}">
                            </picture>
                        </div>
                        <div class="right-col">
                            <div class="image">
                                <picture>
                                    <source media="(max-width: 767px)" srcset="{{ block.settings.featured_image_two_mobile | img_url: '360x' }}">
                                    <source media="(min-width: 1440px)" srcset="{{ block.settings.featured_image_two | img_url: '720x' }}">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.featured_image_two | img_url: '720x' }}" class="img-fluid lazyload d-block mx-auto" alt="{{ block.settings.featured_image_two.alt }}">
                                </picture>
                            </div>
                            <div class="image">
                                <picture>
                                    <source media="(max-width: 767px)" srcset="{{ block.settings.featured_image_three_mobile | img_url: '360x' }}">
                                    <source media="(min-width: 1440px)" srcset="{{ block.settings.featured_image_three | img_url: '720x' }}">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.featured_image_three | img_url: '720x' }}" class="img-fluid lazyload d-block mx-auto" alt="{{ block.settings.featured_image_three.alt }}">
                                </picture>
                            </div>
                        </div>
                    </div>

                {% when 'question_reverse' %}
                    <div class="question-section question-reverse">
                        <div class="text-block">
                            <div class="featured-questions">{{block.settings.featured_description}}</div>
                        </div>
                        <div class="featured-image">
                            <picture>
                                <source media="(max-width: 767px)" srcset="{{ block.settings.featured_image_mobile | img_url: '360x' }}">
                                <source media="(min-width: 1440px)" srcset="{{ block.settings.featured_image | img_url: '720x' }}">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.featured_image | img_url: '720x' }}" class="img-fluid lazyload d-block mx-auto" alt="{{ block.settings.featured_image.alt }}">
                            </picture>
                        </div>
                    </div>

                {% when 'section_title' %}
                    <div class="section-title">
                        <span>{{block.settings.title}}</span>
                    </div>

                {% when 'quote_image' %}
                    <div class="quote-image-section">
                        <div class="featured-image">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.featured_image | img_url: '364x' }}" class="img-fluid lazyload d-block mx-auto" alt="{{ block.settings.featured_image.alt }}">
                        </div>
                        <div class="quote">{{block.settings.featured_quote}}</div>
                    </div>

                {% when 'quote_image_reversed' %}
                <div class="quote-image-section reversed">
                        <div class="quote">{{block.settings.featured_quote}}</div>
                        <div class="featured-image">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.featured_image | img_url: '364x' }}" class="img-fluid lazyload d-block mx-auto" alt="{{ block.settings.featured_image.alt }}">
                        </div>
                    </div>

                {% when 'featured_collection' %}
                    <div class="baewatch-featured-collection">
                        {%- assign collection = collections[block.settings.collection] -%}
                        {% for product in collection.products limit: 4 %}
                            {% render 'product-listing' with product as product %}
                        {% endfor %}
                    </div>
                {% endcase %}
            {% endfor %}
        </div>
	</div>
</div>

{% schema %}
{
  "name": "Baewatch Detail",
	"settings": [
		{
			"type": "image_picker",
			"id": "background",
			"label": "Header Background Image",
			"info": "Optimal image size: 1920 x 350"
		},
        {
            "type":      "text",
            "id":        "header",
            "label":     "Header",
            "default":   "Bae Watch"
        },
        {
            "type":      "text",
            "id":        "sub_header",
            "label":     "Sub Header",
            "default":   "SHOE SAVVY GALS ON OUR RADAR"
        },
        {
			"type": "image_picker",
			"id": "issue_image",
			"label": "Issue Image"
		},
        {
            "type":      "text",
            "id":        "prepend_title",
            "label":     "Prepend Title",
            "default":   "FEAT.",
            "info":      "Sits before the Page title"
        }
	],
	"blocks": [
		{
			"type": "introduction",
			"name": "Introduction Section",
            "limit": 1,
			"settings": [
                {
                    "type": "image_picker",
                    "id": "featured_image",
                    "label": "Introduction Image",
                    "info": "Optimal image width size: 1440px"
                },
                {
                    "type": "image_picker",
                    "id": "featured_image_mobile",
                    "label": "Introduction Mobile Mobile",
                    "info": "Optimal image width size: 760px"
                },
                {
                    "type":      "richtext",
                    "id":        "featured_description",
                    "label":     "Introduction Description"
                }
			]
		},
        {
			"type": "question",
			"name": "Question + Image",
            "limit": 1,
			"settings": [
                {
                    "type": "image_picker",
                    "id": "featured_image",
                    "label": "Image",
                    "info": "Optimal image width size: 720px"
                },
                {
                    "type": "image_picker",
                    "id": "featured_image_mobile",
                    "label": "Mobile Image",
                    "info": "Optimal image width size: 360px"
                },
                {
                    "type":      "richtext",
                    "id":        "featured_description",
                    "label":     "Questions"
                }
			]
		},
        {
			"type": "three_image_block",
			"name": "3 Image Block",
            "limit": 1,
			"settings": [
                {
                    "type": "image_picker",
                    "id": "featured_image_one",
                    "label": "Image 1",
                    "info": "Optimal image ratio is 720 x 872px"
                },
                {
                    "type": "image_picker",
                    "id": "featured_image_one_mobile",
                    "label": "Image 1 Mobile",
                    "info": "Optimal image ratio is 360 x 436px"
                },
                {
                    "type": "image_picker",
                    "id": "featured_image_two",
                    "label": "Image 2",
                    "info": "Optimal image ratio is 720 x 444px"
                },
                {
                    "type": "image_picker",
                    "id": "featured_image_two_mobile",
                    "label": "Image 2 Mobile",
                    "info": "Optimal image ratio is 360 x 216px"
                },
                {
                    "type": "image_picker",
                    "id": "featured_image_three",
                    "label": "Image 3",
                    "info": "Optimal image ratio is 720 x 444px"
                },
                {
                    "type": "image_picker",
                    "id": "featured_image_three_mobile",
                    "label": "Image 3 Mobile",
                    "info": "Optimal image ratio is 360 x 216px"
                }
			]
		},
        {
			"type": "question_reverse",
			"name": "Question + Image Reversed",
            "limit": 1,
			"settings": [
                {
                    "type": "image_picker",
                    "id": "featured_image",
                    "label": "Image",
                    "info": "Optimal image width size: 720px"
                },
                {
                    "type": "image_picker",
                    "id": "featured_image_mobile",
                    "label": "Mobile Image",
                    "info": "Optimal image width size: 360px"
                },
                {
                    "type":      "richtext",
                    "id":        "featured_description",
                    "label":     "Questions"
                }
			]
		},
        {
			"type": "section_title",
			"name": "Section Title",
			"settings": [
                {
                    "type":      "text",
                    "id":        "title",
                    "label":     "Title"
                }
			]
		},
        {
			"type": "quote_image",
			"name": "Quote + Image",
            "limit": 2,
			"settings": [
                {
                    "type": "image_picker",
                    "id": "featured_image",
                    "label": "Image",
                    "info": "Optimal image width size: 364px"
                },
                {
                    "type":      "richtext",
                    "id":        "featured_quote",
                    "label":     "Quote"
                }
			]
		},
        {
			"type": "quote_image_reversed",
			"name": "Quote + Image Reversed",
            "limit": 2,
			"settings": [
                {
                    "type": "image_picker",
                    "id": "featured_image",
                    "label": "Image",
                    "info": "Optimal image width size: 364px"
                },
                {
                    "type":      "richtext",
                    "id":        "featured_quote",
                    "label":     "Quote"
                }
			]
		},
        {
			"type": "featured_collection",
			"name": "Featured Collection",
            "limit": 1,
			"settings": [
                {
                    "id": 			"collection",
                    "type": 		"collection",
                    "label": 		"Collection"
                }
			]
		}
	]
}
{% endschema %}