<style>
  
  #shopify-section-product .breadcrumb{
    text-align:left;
  }
/*   .avni.product-swatch.swatch-sizes{
    display: none !important;
  } */
  #product-additional-details {
    display: none !important;
  }
  
  button.link {color:red !important;}
/*   .product-extra-detail-wrapper .product-price-container p.clearpay-paragraph {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    min-height: auto;
    padding: 15px 10px;
  } */
  .product-extra-detail-wrapper .product-price-container p.clearpay-paragraph span {
    padding-bottom: 7px;
    font-size: 12px;
    line-height: normal;
}
  #shopify-section-product .product-extra-detail-wrapper .klarana-sale-text-info klarna-placement {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    min-height: auto;
    padding: 15px 10px;
}
/*   .product-extra-detail-wrapper .product-price-container p.laybuy-paragraph {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center !important;
    min-height: auto;
    padding: 15px 10px;
  } */
  .product-extra-detail-wrapper p.laybuy-paragraph span {
    padding: 2px 0px;
    text-align: center;
    font-size: 12px;
    line-height: normal;
    margin: 0px;
  }
  .product-extra-detail-wrapper p.laybuy-paragraph span.laybuy-instalments {
    line-height: 1.2;
    padding: 0;
  }
  .product-extra-detail-wrapper p.laybuy-paragraph span.laybuy-instalments span.money {
    padding: 0px;
    line-height: normal;
  }
  .product-extra-detail-wrapper p.laybuy-paragraph span.laybuy-logo-and-text {
    display: flex;
    justify-content: center;
  }
  #shopify-section-product .product-detail .product-extra-detail-wrapper .product-price-container .clearpay-paragraph .clearpay-instalments {
    font-size: 12px !Important;
    font-weight: 500;
/*     display: block;
    width: 100%; */
}
  .product-extra-detail-wrapper p.laybuy-paragraph span span.money {
    font-size: 13px !important;
    font-family: Gotham,sans-serif;
    font-weight: 500 !important;
  }
  #shopify-section-product .product-detail .product-extra-detail-wrapper {
    max-width: 100%;
  }
  .product-extra-detail-wrapper p.laybuy-paragraph span.laybuy-logo-and-text a {
    font-size: 9px;
    color: #000;
  }
  .laybuy-paragraph img#laybuy-logo.small {
    height: 12px;
  }
  #shopify-section-product .product-extra-detail-wrapper .clearpay-paragraph {
/*     min-height: 97px;
    justify-content: center; */
    margin: 0px !important;
    text-align: left !important;
  }
  .product-extra-detail-wrapper p.laybuy-paragraph {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
  }
  .product-extra-detail-wrapper .product-price-container p.clearpay-paragraph strong {
    padding-bottom: 7px;
  }
  #shopify-section-product .product-extra-detail-wrapper .klarana-sale-text-info klarna-placement {
    padding: 0px;
    margin-top: 15px;
    padding-bottom: 5px;
  }
  #shopify-section-product .product-extra-detail-wrapper .clearpay-paragraph img.clearpay-logo {
    width: 85px !important;
    object-fit: contain;
  }
  .product-extra-detail-wrapper p.laybuy-paragraph span.laybuy-logo-and-text span.laybuy-link-inner {
    display: none;
  }
  .product-extra-detail-wrapper p.laybuy-paragraph .max-instalment-price {
    display: none;
  }
  .product-extra-detail-wrapper p.laybuy-paragraph span.laybuy-text1 {
    display: inline-block;
    width: auto;
  }
  .product-extra-detail-wrapper p.laybuy-paragraph .first-instalment-price {
    display: inline-block;
    width: auto;
    margin: 0px 4px;
  }
  #shopify-section-product .product-extra-detail-wrapper .klarana-sale-text-info {
    min-height: auto;
    padding: 0px;
    margin-top: 0px;
    display: block;
  }
  #shopify-section-product .product-detail .product-extra-detail-wrapper .product-upsell {
    margin: 0px;
}

  @media screen and (max-width: 480px) {
/*     #shopify-section-product .product-extra-detail-wrapper .clearpay-paragraph {
      min-height: 100px;
      padding: 5px;
    } */
    .product-extra-detail-wrapper p.laybuy-paragraph {
      /*       min-height: 100px;
      padding: 5px; */
      text-align: left !important;
    }
/*     #shopify-section-product .product-extra-detail-wrapper .klarana-sale-text-info klarna-placement {
      min-height: 100px;
      padding: 5px;
    } */
/*     #shopify-section-product .product-extra-detail-wrapper .klarana-sale-text-info {
      min-height: 100px;
      padding: 8px;
    } */
    .product-extra-detail-wrapper p.laybuy-paragraph span.laybuy-logo-and-text {
      display: inline-block;
    }
    .product-extra-detail-wrapper p.clearpay-paragraph span.clearpay-text3 {
      display: none;
    }
    #shopify-section-product .product-extra-detail-wrapper .clearpay-paragraph {
      align-items: flex-start;
    }
    #shopify-section-product .product-extra-detail-wrapper .clearpay-paragraph img.clearpay-logo {
      width: 85px !important;
      margin: 0px auto;
      object-fit: contain;
    }
    .product-extra-detail-wrapper p.laybuy-paragraph span.laybuy-instalments span.money {
      line-height: 1.3;
    }
    #shopify-section-product .product-extra-detail-wrapper .klarana-sale-text-info klarna-placement {
      min-height: auto;
      padding: 0px;
    }
  }
</style>
<div class="container">

  <div class="row">
    <div class="col-12 col-lg-7" style="padding-top:1rem;">
      {% include 'breadcrumbs' %}
    </div><!-- col -->
  </div><!-- row -->

  <div class="row">
{% assign productTags = product.tags | join: ', ' %}
      {% if productTags contains 'kaiia'%}
     <div id="product-images-container" class="col-12 col-lg-7 kaiia-collection-products-info" data-image-count="{{product.images.size}}">
     {% else %}
        <div id="product-images-container" class="col-12 col-lg-7" data-image-count="{{product.images.size}}">
    {% endif %}
   
      <div id="product-large-images">
        {% for image in product.images %}
        <div class="large-image" data-image-position="{{forloop.index}}">
          <div class="{{section.settings.main_ratio}} img-wrap">
            {% render 'responsive-image' with image: image, image_class: "img-fluid lazyload", max_width: 900, max_height: 1125 %}
            
             {% assign productTags = product.tags | join: ', ' %}
            
             {% comment %}
            <!-------------Start overlay code-------------------->
             {% if productTags contains 'discount_halley_sizeup' %}
            <div class="discount_halley_sizeup_info discount_single-prd-img-info"><p>SIZE UP ON THIS STYLE</p></div>

            
            
            {% elsif productTags contains 'discount_new_20' and productTags contains 'discount_tara_10' %}
            <div class="discount_new_20_info discount_single-prd-img-info"><p>Tara Maynard collection</p></div>
           
            	{% elsif productTags contains 'discount_spring_boots' and productTags contains 'discount_tara_10' %}
            	<div class="discount_new_20_info discount_single-prd-img-info"><p>Tara Maynard collection</p></div>
            
            
            {% elsif productTags contains 'discount_sale_10' and productTags contains 'discount_tara_10' %}
            <div class="discount_new_20_info discount_single-prd-img-info"><p>Tara Maynard collection</p></div>
            
            {% elsif productTags contains 'discount_tara_10' %}
            <div class="discount_new_20_info discount_single-prd-img-info"><p>Tara Maynard collection</p></div>
            
            
            
            {% elsif productTags contains 'discount_new_20' and productTags contains 'discount_spring_boots' %}
            <div class="discount_new_20_info discount_single-prd-img-info"><p>FREE USA DELIVERY OVER $90</p></div> 

            {% elsif productTags contains 'discount_sale_10' and productTags contains 'discount_new_20' %}
            <div class="discount_new_20_info discount_single-prd-img-info"><p>EXTRA 10% OFF! CODE: SPARKLE</p></div>

            {% elsif productTags contains 'discount_slippers_342' and productTags contains 'discount_new_20' %}
            <div class="discount_new_20_info discount_single-prd-img-info"><p>20% Off With UniDays</p></div>

            {% elsif productTags contains 'discount_spring_boots' %}
            <div class="discount_new_20_info discount_single-prd-img-info"><p>30% OFF! CODE: SPRINGBOOTS</p></div>  

            {% elsif productTags contains 'discount_new_20' %}
            <div class="discount_new_20_info discount_single-prd-img-info"><p>FREE USA DELIVERY OVER $90</p></div>

            {% elsif productTags contains 'discount_sale_10' %}
            <div class="discount_new_20_info discount_single-prd-img-info"><p>EXTRA 10% OFF! CODE: SPARKLE</p></div>

            {% elsif productTags contains 'discount_halley_sizeup' %}
            <div class="discount_halley_sizeup_info discount_single-prd-img-info"><p>SIZE UP ON THIS STYLE</p></div>

            {% elsif productTags contains 'discount_leo_size' %}
            <div class="discount_leo_info discount_single-prd-img-info"><p>Size Down On This Style</p></div>

            {% endif %} 

            <!-------------End overlay code-------------------->
             {% endcomment %}
            
            <button class="mobile-expand btn-plain">{% render 'icon-plus' %}</button>
          </div>
        </div>
        {% endfor %}
      </div><!-- product-large-images -->

      {% if product.images.size > 0 %}
      <div id="product-thumbnails" class="{% if product.images.size > 3 %}slick{% else %}no-slick{% endif %}">
        {% for image in product.images %}
        <div class="thumbnail-image" data-image-position="{{forloop.index}}">
          <div class="{{section.settings.thumbnail_ratio}}">
            {% include 'responsive-image' with image: image, image_class: "img-fluid lazyload", max_width: 300, max_height: 375 %}
          </div>
        </div>
        {% endfor %}
      </div><!-- product-thumbnails -->
      {% endif %}

    </div><!-- product-images-container -->
  
    
    {%- for tag in product.tags -%}
        
        {%- if tag contains "promo_" -%}
          {%- assign promo_tag = tag -%}
        
        {%- endif -%}
        {% if tag contains 'discount_per' %}
           {%- assign discount_tag = tag -%}
        {% endif %}
      {%- endfor -%}
     
      {% if promo_tag != blank and discount_tag != blank %}
        {% assign promo_split = promo_tag | split:"_" %}
        {% assign promo_code = promo_split[1] %}

        {% assign discount_split = discount_tag | split:"_" %}
        {% assign discount_per = discount_split[2] | append:".0" %}
        
        {% assign saleamount= product.price | times: discount_per | divided_by: 100.00 %}
        {%assign discount_amount =  product.price  | minus:saleamount | money%} 
        
      {% endif %}
    <div class="col-12 col-lg-5 product-detail">
      <h1 class="product-title">{{product.title}}</h1>
      {% render 'okendo-reviews-product-rating-summary', product: product %}
	 <div class="product-extra-detail-wrapper po-wrap">
       <div class="custom_price_container {% if discount_amount != blank %} discounted_price{% endif %}" style="display: none;">
           {% if discount_amount != blank %} 
            <div class="product-single__sale-bar">
                    
                  {{ discount_amount }} With Code: {{ promo_code }}
            </div>
            {% endif %}
          {% if product.compare_at_price > product.price and product.compare_at_price > 0 %}
          <div class="product-price sale product_new_sale_price">
            <span class="money">{{ product.price | money }} </span>
            <span class="save_value">({{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price }}% off)</span>
            <span class="original-price money">{{product.compare_at_price_max | money }}</span>            
          </div><!-- product-price -->
          {% else %}
          <div class="product-price">
            <span class="money">{{ product.price | money }}</span>
          </div><!-- product-price -->
          {% endif %}

           <div class="split-inventory">
        {% assign hasInventory = false %}
        {% for variant in product.variants %}
          {% if variant.inventory_quantity != 0 %}
            {% assign hasInventory = true %}
          {% endif %}
        {% endfor %}
          <div id="variant-inventory1" style="display:block">
           {% if product.variants.first.inventory_management == "shopify" %}
              {% if product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_quantity < 15 %}
              In Stock — Only <span class="update-inventory">{{ product.variants.first.inventory_quantity }}</span> Left!
              {% elsif product.variants.first.inventory_quantity >= 15 %}
              In Stock — Only a Few Left!   
              {% else %}
                {% if hasInventory == true %}
                 In Stock — Only a Few Left!
                {% else %}
                 The product is out of stock
                {% endif %}
              {% endif %}
           {% else %}
              In Stock — Only a Few Left!
           {% endif %}
          </div>
          <div id="variant-inventory" style="display:none">
           {% if product.variants.first.inventory_management == "shopify" %}
              {% if product.variants.first.inventory_quantity > 0 %}
                 In Stock — Only  <span class="update-inventory">{{ product.variants.first.inventory_quantity }}</span> Left!
              {% else %}
                {% if hasInventory == true %}
                 In Stock — Only a Few Left!
                {% else %}
                 The product is out of stock
                {% endif %}
              {% endif %}
           {% else %}
              In Stock — Only a Few Left!
           {% endif %}
          </div>
        </div>
         
       </div>
      <div class="product-price-container {% if discount_amount != blank %} discounted_price{% endif %}" >
        {% if product.compare_at_price > product.price and product.compare_at_price > 0 %}
        <div class="product-price sale">
          <span class="money">{{ product.price | money }} ({{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price }}% off)</span>
          <span class="original-price money">{{product.compare_at_price_max | money }}</span>
        </div><!-- product-price -->
        {% else %}
        <div class="product-price">
          <span class="money hehy">{{ product.price | money }}</span>
        </div><!-- product-price -->
        {% endif %}

     
              
      </div>

{% comment %}
<div class="split-inventory">
{% assign hasInventory = false %}
{% for variant in product.variants %}
  {% if variant.inventory_quantity != 0 %}
    {% assign hasInventory = true %}
  {% endif %}
{% endfor %}
  <div id="variant-inventory1" style="display:block">
   {% if product.variants.first.inventory_management == "shopify" %}
      {% if product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_quantity < 15 %}
      In Stock — Only <span class="update-inventory">{{ product.variants.first.inventory_quantity }}</span> Left!
      {% elsif product.variants.first.inventory_quantity >= 15 %}
      In Stock — Only a Few Left!   
      {% else %}
        {% if hasInventory == true %}
         In Stock — Only a Few Left!
        {% else %}
         The product is out of stock
        {% endif %}
      {% endif %}
   {% else %}
      In Stock — Only a Few Left!
   {% endif %}
  </div>
  <div id="variant-inventory" style="display:none">
   {% if product.variants.first.inventory_management == "shopify" %}
      {% if product.variants.first.inventory_quantity > 0 %}
         In Stock — Only  <span class="update-inventory">{{ product.variants.first.inventory_quantity }}</span> Left!
      {% else %}
        {% if hasInventory == true %}
         In Stock — Only a Few Left!
        {% else %}
         The product is out of stock
        {% endif %}
      {% endif %}
   {% else %}
      In Stock — Only a Few Left!
   {% endif %}
  </div>
</div>
{% endcomment %}

      {% if section.settings.show_product_upsell == true %}
      <div class="product-upsell">
        <div class="rte d-flex justify-content-start align-items-center">
          <p class="mb-0">{{section.settings.product_upsell_richtext}}</p>
          {% if section.settings.product_upsell_link != blank %}
          <a href="{{section.settings.product_upsell_link}}">{{section.settings.product_upsell_link_text}}</a>
          {% endif %}
        </div>
      </div>
      {% endif %}
      
       {% comment %}
       {% if section.settings.show_klarna == true %}
       <div class="product-klarna-upsell">
         {% if shop.domain contains "us." %}

         <klarna-placement
                           data-key="credit-promotion-auto-size"
                           data-locale="en-US"
                           data-purchase-amount="{{ product.price }}"
                           ></klarna-placement>
         {% else %}
         <!-- Placement v2 -->
         <klarna-placement
                           data-key="credit-promotion-standard"
                           data-locale="en-GB"
                           data-purchase-amount="{{ product.price }}"
                           ></klarna-placement>
         <!-- end Placement -->
         {% endif %}
       </div><!-- product-klarna-upsell -->
       {% endif %}
       {% endcomment %}
       
     {% comment %}

      {% if section.settings.show_klarna == true %}
      <div class="product-klarna-upsell klarana-sale-text-info">
<!--         
        <div class="rte d-flex justify-content-start align-items-center">    
          <p class="mb-0">{{section.settings.klarna_richtext_one}}</p>               
        </div> -->
        {% if shop.domain contains "us." %}
        <!-- Placement v2 -->
        <klarna-placement
                          data-key="credit-promotion-standard"
                          data-locale="en-US"
                          data-purchase-amount="{{ product.price }}"
                          ></klarna-placement>
        <!-- end Placement -->
        {% else %}
            <!-- Placement v2 -->
            <klarna-placement
              data-key="credit-promotion-auto-size"
              data-locale="en-GB"
              data-purchase-amount="{{ product.price }}"
            ></klarna-placement>
            <!-- end Placement -->        
        
        <!-- end Placement -->
        {% endif %}
      </div>
      {% endif %}
  {% endcomment %}



      {% comment %}Colour Swatch{% endcomment %}
      {% for tag in product.tags %}
      {% if tag contains 'group_' %}
      {% assign colour_group_name = tag %}
      {% endif %}
      {% if tag contains 'color_' %}
      {% assign product_colour = tag | remove: "color_" %}
      {% endif%}
      {% endfor %}

      {% if colour_group_name %}
      <div class="product-swatch swatch-colour d-none" data-colour-group="{{colour_group_name }}" data-current-product-id="{{product.id}}" data-current-collection-handle="{{collection.handle}}">
        <div class="product-swatch-label">Colour : <strong class="color">default</strong></div>
      </div>
      {% endif %}

	  {% form 'product', product %}
       
      <!-- new layout -->
      {% assign storeEU = 'https://eu.publicdesire.com/' %}
      {% assign storeAU = 'https://au.publicdesire.com/' %}
      {% assign storeUS = 'https://us.publicdesire.com/' %}
      {% assign storeUK = 'https://www.publicdesire.com/' %}
      {% assign optionOffset = product.options.size | minus: 1 %}
      {% comment %}
      {% if product.variants.size > 1 %}
      {% for option in product.options limit: 1 offset: optionOffset  %}
      <div>
        <div class="product-size-wrap swatch-{{ option | downcase }}">
          {% if shop.domain contains "au." %}
          {% assign storename= 'AU' %}
           <div class="product-swatch-label {{ option }}">{{ storename }} {% if option contains "Config" %}{{option | remove: "Config"}}{% else %}{{ option |remove: "s" }}{% endif %}: <strong class="size">6</strong></div>
          {% elsif shop.domain contains "eu." %}
          {% assign storename= 'EU' %}
           <div class="product-swatch-label">{{ storename }} {% if option contains "Config" %}{{option | remove: "Config"}}{% else %}{{ option }}{% endif %}: <strong class="size">6</strong></div>
		  {% elsif shop.domain contains "us." %}
          {% assign storename= 'US' %}
           <div class="product-swatch-label">{{ storename }} {% if option contains "Config" %}{{option | remove: "Config"}}{% else %}{{ option }}{% endif %}: <strong class="size">6</strong></div>
		  {% else %}
          {% assign storename= 'UK' %}
           <div class="product-swatch-label">{{ storename }} {% if option contains "Config" %}{{option | remove: "Config"}}{% else %}{{ option }}{% endif %}: <strong class="size">6</strong></div>
          {% endif %}
          
          <div class="product-size-group">
			
			{% for variant in product.variants %}
            <div class="product-size-item">
              <div class="product-size-custom-select-group {% if variant.inventory_quantity < 1 %}product-size-disabled{% endif %}">
                <input name="product-size-number" {%if forloop.first%} checked="checked" {%endif%} type="radio" class="sr-only" id="product-size-custom-select-{{variant.id}}" value="{{variant.id}}" {% if variant.inventory_quantity < 1 %}disabled{% endif %} >
                <label class="product-size-custom-select" for="product-size-custom-select-{{variant.id}}">{{variant.title | escape |remove: "AU" }}</label>
              </div>
            </div>
			{% endfor %}

           </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      <!-- new layout -->
       
      {% endcomment %}

      {% assign optionOffset = product.options.size | minus: 1 %}
      {% if product.variants.size > 1 %}
      {% for option in product.options limit: 1 offset: optionOffset  %}
      <div class="avni product-swatch swatch-{{ option | downcase }}">
        <h2 class="product-swatch-header d-none d-lg-block" id="sizetitle">{% if option contains "Config" %}{{option | remove: "Config"}}{% else %}{{ option |remove: "s"}}{% endif %}</h2>
        <div class="product-size-and-size-wrapper">
        <ul class="addisizefeature">
          <li class="varientsize"><a href="javascript:" class="ussize">US</a> | </li>
          <li class="varientsize"><a href="javascript:" class="uksize">UK</a> | </li>
          <li class="varientsize"><a href="javascript:" class="eusize">EU</a></li>
        </ul>
        {% comment %} here {% endcomment %}
          {% if section.settings.size_guide_text != blank %}
            <!------ Start Size guide popup ------------>
            <div id="pd-size-info" class="product-size-guide">
              {% comment %} check if exists {% endcomment %}
            {% if product.tags contains 'shoe-size' or  product.type contains 'Boots' or  product.type contains 'High Heels' or product.tags contains 'cloth-size' or product.type contains 'shirt' or product.type contains 'suit' or product.type contains 'Outerwear & Jackets' or product.type contains 'shorts' %}
            <div class="sizing-wrapper">
                <img decoding="async" width="16" height="16" src="https://cdn.shopify.com/s/files/1/0342/1451/0651/files/ruller_thin_line_minimal_icon_191f5f80-13ad-4bc7-a371-1bf077cac582.png?v=1663938562" alt="sizing icon">
                <span title="Size Guide" class="product-size-guide">{{section.settings.size_guide_text}}</a>
              </div>
            {% endif %}
            </div>
          {% endif %}
        </div><!-- div -->
        <ul class="product-swatch-list desktop d-none">
          {% comment %}
          {% for variant in product.variants %}
          <li{% if forloop.index == 1 %} class="active"{% endif %} data-variant-id="{{variant.id}}" data-inventory-quantity="{{ variant.inventory_quantity }}" data-available="{% if variant.inventory_quantity > 0 %}true{% else %}false{% endif %}" data-preorder="{% if variant.inventory_quantity > 0 and variant.inventory_policy == "continue" %}true{% else %}false{% endif %}" data-price="{{variant.price}}" {% if variant.compare_at_price > variant.price %}data-compare-at-price="{{variant.compare_at_price}}" {% endif %} {% if variant.incoming %}data-incoming-date="{{ variant.next_incoming_date | date: '%B %d, %Y'}}"{% endif %}>{{ variant.title | escape }}</li>
          {% endfor %}
          {% endcomment %}
          {% assign activeSet = 'false' %}
          {% assign activeClass = '' %}
          {% for variant in product.variants %}
            {% if variant.inventory_quantity > 0 and activeSet == 'false' %}
              {% assign activeClass = 'active' %}
              {% assign activeSet = 'true' %}
            {% else  %}
              {% assign activeClass = '' %}
            {% endif %}
          <li class="{{activeClass}}" data-variant-id="{{variant.id}}" data-inventory-quantity="{{ variant.inventory_quantity }}" data-available="{% if variant.inventory_quantity > 0 %}true{% else %}false{% endif %}" data-preorder="{% if variant.inventory_quantity > 0 and variant.inventory_policy == "continue" %}true{% else %}false{% endif %}" data-price="{{variant.price}}" {% if variant.compare_at_price > variant.price %}data-compare-at-price="{{variant.compare_at_price}}" {% endif %} {% if variant.incoming %}data-incoming-date="{{ variant.next_incoming_date | date: '%B %d, %Y'}}"{% endif %}>{{ variant.title | escape }}</li>
          {% endfor %}
        </ul>

        <select class="product-swatch-list mobile" name="id">
          <option value="selectsize" selected>Choose a Size...</option>
          {% for variant in product.variants %}
          <option value="{{variant.id}}" data-inventory-quantity="{{ variant.inventory_quantity }}" data-preorder="{% if variant.inventory_quantity > 0 and variant.inventory_policy == "continue" %}true{% else %}false{% endif %}" data-price="{{variant.price}}" {% if variant.compare_at_price %}data-compare-at-price="{{variant.compare_at_price}}" {% endif %}  {% if variant.incoming %}data-incoming-date="{{ variant.next_incoming_date | date:'%B %d, %Y'}}"{% endif %} {% if variant.inventory_quantity < 1 %}disabled{% endif %}>{{variant.title | escape }}</option>
          {% endfor %}
        </select>
<style>
ul.product-swatch-list.desktop.d-none {
  display : table !important;
}
select.product-swatch-list.mobile {
  display : none;
}
ul.product-swatch-list.desktop.d-none {
  width : 100%;
}
ul.product-swatch-list.desktop.d-none li {
  width : 20%;
  float : left;
}
ul.product-swatch-list.desktop li[data-inventory-quantity="0"] {
  opacity : 0.5;
  pointer-events : none !important;
}
ul.product-swatch-list.desktop li[data-inventory-quantity="0"]::after {
  content : "";
  border : 1px solid rgb(0, 0, 0);
  height : 1px;
  width : 132%;
  transform : rotate(23deg);
  top : -10px;
  position : relative;
  bottom : 0px;
}
body.template-product .product-detail .product-size-guide, #shopify-section-product .shopify-product-form .product-key-actions {
  width : 100%;
  display : flex !important;
}
.product-swatch-list li span.eu {
  display : none;
}

.product-swatch-list li span.uk {
  display : none;
}
ul.addisizefeature {
  display : flex;
  padding : 0px;
  left : 0px;
}
.addisizefeature li.varientsize {
  list-style-position : initial;
  list-style-image : initial;
  list-style-type : none;
  padding-right : 5px;
}
.addisizefeature li.varientsize a {
  color : rgb(0, 0, 0);
}
span.uk, span.eu, span.us {
  font-weight : bold;
}
.addisizefeature li.varientsize a.active {
  border-bottom : 1px solid rgb(0, 0, 0);
  width : 100%;
}
#sizetitle {
  display : block !important;
}
</style>
<script>
jQuery("ul.product-swatch-list.desktop li").each(function() {
  let selval = $(this).text().split(' / ');
  let usval = selval[0];
  let ukval = selval[1];
  let euval = selval[2];
  if(selval.length == 1){
    euval = usval;
    ukval = usval;
  }
  jQuery(this).html('<span class="us">'+usval+'</span><span class="uk">'+ukval+'</span><span class="eu">'+euval+'</span>');
});
jQuery('.varientsize .ussize').addClass('active');
jQuery('.varientsize .uksize').click(function(){
    jQuery(this).addClass('active');
    jQuery('.varientsize .eusize').removeClass('active');
    jQuery('.varientsize .ussize').removeClass('active');
    jQuery('.product-swatch-list li .uk').show();
    jQuery('.product-swatch-list li .eu').hide();
    jQuery('.product-swatch-list li .us').hide();
});
jQuery('.varientsize .eusize').click(function(){
    jQuery(this).addClass('active');
    jQuery('.varientsize .uksize').removeClass('active');
    jQuery('.varientsize .ussize').removeClass('active');
    jQuery('.product-swatch-list li .uk').hide();
    jQuery('.product-swatch-list li .eu').show();
    jQuery('.product-swatch-list li .us').hide();
});
jQuery('.varientsize .ussize').click(function(){
    jQuery(this).addClass('active');
    jQuery('.varientsize .uksize').removeClass('active');
    jQuery('.varientsize .eusize').removeClass('active');
    jQuery('.product-swatch-list li .uk').hide();
    jQuery('.product-swatch-list li .eu').hide();
    jQuery('.product-swatch-list li .us').show();
});
let repval;
jQuery(".uk").each(function(){
    repval = $(this).text().replace("UK ", " ");
    jQuery(this).text(repval);
});
jQuery(".eu").each(function(){
    repval = $(this).text().replace("EU ", " ");
    jQuery(this).text(repval);
});
jQuery(".us").each(function(){
    repval = $(this).text().replace("US ", " ");
    jQuery(this).text(repval);
});
</script>
       </div><!-- product-swatch -->
      {% endfor %}
      {% else  %}
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
      {% endif %}

        <!-- Popup -->
        <div id="myModal-size-info" class="modal-size-info">

          <!-- Modal content -->
          <div class="modal-content-size-info">
            <span class="close">&times;</span>
            
            <header class="page-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 mb-md-0 col-md-8 col-lg-6 mx-auto text-center">
                            <p class="title">{{section.settings.size_guide_text}}</p>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <div class="row mt-4 mb-5">
                    {% if product.tags contains 'shoe-size' or  product.type contains 'Boots' or  product.type contains 'High Heels' %}
                    <div class="col-12 col-md-12 mx-auto">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <div class="rte text-md-center mb-4 size-guide-rte size-char">
                                    <p>Unsure about the size? No worries bae. Put your best foot forward and follow our tips on finding the perfect shoe size. We always recommend that you try your new shoes inside on carpet to ensure the fit before you wear your new steeze outside. Don`t fit? No biggie, you can send them back in their original, unused condition for a refund within 28 days. Need more info? Email help@publicdesire.com.</p>
                                    <p style="margin-top:40px;" class="main-sizeguide-info">FOOTWEAR SIZE GUIDE</p>
                                        <table>
                                    		<tbody>
                                              <tr>
                                              <td>UK</td>
                                              <td>3</td>
                                              <td>4</td>
                                              <td>5</td>
                                              <td>6</td>
                                              <td>7</td>
                                              <td>8</td>
                                              </tr>
                                              <tr>
                                              <td>USA</td>
                                              <td>5</td>
                                              <td>6</td>
                                              <td>7</td>
                                              <td>8</td>
                                              <td>9</td>
                                              <td>10</td>
                                              </tr>
                                              <tr>
                                              <td>Euro</td>
                                              <td>36</td>
                                              <td>37</td>
                                              <td>38</td>
                                              <td>39</td>
                                              <td>40</td>
                                              <td>41</td>
                                              </tr>
                                              <tr>
                                              <td>Italy</td>
                                              <td>35</td>
                                              <td>36</td>
                                              <td>37</td>
                                              <td>38</td>
                                              <td>39</td>
                                              <td>40</td>
                                              </tr>
                                              <tr>
                                              <td>Aussie</td>
                                              <td>5</td>
                                              <td>6</td>
                                              <td>7</td>
                                              <td>8</td>
                                              <td>9</td>
                                              <td>10</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                </div>
                            </div>
                        </div>		
                    </div>

                    <div class="col-12 col-md-3 size-guide-option">
                          <div class="option-image">
                               <picture>
                                  <source data-srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/1_8830470a-59a5-4ff7-a408-14cb5bf3436b.jpg?v=1680592709" media="(max-width: 760px)" srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/1_8830470a-59a5-4ff7-a408-14cb5bf3436b.jpg?v=1680592709">
                                  <source data-srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/1_8830470a-59a5-4ff7-a408-14cb5bf3436b.jpg?v=1680592709" media="(min-width: 1440px)" srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/1_8830470a-59a5-4ff7-a408-14cb5bf3436b.jpg?v=1680592709">
                                  <img src="//cdn.shopify.com/s/files/1/0270/6584/3821/files/1_8830470a-59a5-4ff7-a408-14cb5bf3436b.jpg?v=1680592709" data-src="//cdn.shopify.com/s/files/1/0270/6584/3821/files/1_8830470a-59a5-4ff7-a408-14cb5bf3436b.jpg?v=1680592709" class="img-fluid mx-auto lazyloaded" alt="">
                               </picture>
                          </div>
                          <div class="rte text-uppercase">
                                <p><strong>Heel heights</strong> are measured from the high point where the heel joins the shoe, right to the floor.</p>
                          </div>
                    </div>
					<div class="col-12 col-md-3 size-guide-option">
						   <div class="option-image">
                                <picture>
                                   <source data-srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/2_5e6fef50-b8f1-4a92-b847-49e2fe3a4c99.jpg?v=1680592708" media="(max-width: 760px)" srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/2_5e6fef50-b8f1-4a92-b847-49e2fe3a4c99.jpg?v=1680592708">
                                   <source data-srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/2_5e6fef50-b8f1-4a92-b847-49e2fe3a4c99.jpg?v=1680592708" media="(min-width: 1440px)" srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/2_5e6fef50-b8f1-4a92-b847-49e2fe3a4c99.jpg?v=1680592708">
                                   <img src="//cdn.shopify.com/s/files/1/0270/6584/3821/files/2_5e6fef50-b8f1-4a92-b847-49e2fe3a4c99.jpg?v=1680592708" data-src="//cdn.shopify.com/s/files/1/0270/6584/3821/files/2_5e6fef50-b8f1-4a92-b847-49e2fe3a4c99.jpg?v=1680592708" class="img-fluid mx-auto lazyloaded" alt="">
                                </picture>
                           </div>
							<div class="rte text-uppercase">
                              <p><strong>Shoe heights</strong> are measured from the top point of the shoe, right to the floor.</p>
                      		</div>
                    </div>
                    <div class="col-12 col-md-3 size-guide-option size-guide-option-double">
                            <div class="option-image">
                                 <picture>
                                     <source data-srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/3_e278e4f0-b828-4962-a241-c0cd58198881.jpg?v=1680592709" media="(max-width: 760px)" srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/3_e278e4f0-b828-4962-a241-c0cd58198881.jpg?v=1680592709">
                                     <source data-srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/3_e278e4f0-b828-4962-a241-c0cd58198881.jpg?v=1680592709" media="(min-width: 1440px)" srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/3_e278e4f0-b828-4962-a241-c0cd58198881.jpg?v=1680592709">
                                     <img src="//cdn.shopify.com/s/files/1/0270/6584/3821/files/3_e278e4f0-b828-4962-a241-c0cd58198881.jpg?v=1680592709" data-src="//cdn.shopify.com/s/files/1/0270/6584/3821/files/3_e278e4f0-b828-4962-a241-c0cd58198881.jpg?v=1680592709" class="img-fluid mx-auto lazyloaded" alt="">
                                 </picture>
                            </div>
                            <div class="double-text-wrapper">
                                 <div class="rte text-uppercase"><p><strong>Thigh Circumference</strong> is measured from the very top opening of a long boot.</p></div>
                                 
                            </div>
                     </div>

                  <div class="col-12 col-md-3 size-guide-option size-guide-option-double">
                            <div class="option-image">
                                 <picture>
                                     <source data-srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/4_01b62fcd-9301-4a26-9d79-481e924acb64.jpg?v=1680592709" media="(max-width: 760px)" srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/4_01b62fcd-9301-4a26-9d79-481e924acb64.jpg?v=1680592709">
                                     <source data-srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/4_01b62fcd-9301-4a26-9d79-481e924acb64.jpg?v=1680592709" media="(min-width: 1440px)" srcset="//cdn.shopify.com/s/files/1/0270/6584/3821/files/4_01b62fcd-9301-4a26-9d79-481e924acb64.jpg?v=1680592709">
                                     <img src="//cdn.shopify.com/s/files/1/0270/6584/3821/files/4_01b62fcd-9301-4a26-9d79-481e924acb64.jpg?v=1680592709" data-src="//cdn.shopify.com/s/files/1/0270/6584/3821/files/4_01b62fcd-9301-4a26-9d79-481e924acb64.jpg?v=1680592709" class="img-fluid mx-auto lazyloaded" alt="">
                                 </picture>
                            </div>
                            <div class="double-text-wrapper">
                                 
                                 <div class="rte text-uppercase"><p><strong>Calf Width</strong> is measured from the widest part of the calf on a long boot.</p></div>
                            </div>
                     </div>
                    {% elsif product.tags contains 'cloth-size' or product.type contains 'shirt' or product.type contains 'suit' or product.type contains 'Outerwear & Jackets' or product.type contains 'shorts'%}

                     <div class="col-12 col-md-12 mx-auto colthing-size">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <div class="rte text-md-center mb-4 size-guide-rte">
                                    <p class="main-sizeguide-info">CLOTHING SIZE GUIDE</p>  
                                    <table class="custom-size-info">
                                      <thead>
                                        <tr>
                                          <th>INT</th>
                                          <th>EU</th>
                                          <th>UK/AU</th>
                                          <th>US</th>
                                          <th>FR/ES</th>
                                          <th>IT</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>XS</td>
                                          <td>34</td>
                                          <td>6</td>
                                          <td>2</td>
                                          <td>36</td>
                                          <td>38</td>   
                                        </tr>
                                        <tr>
                                          <td>S</td>
                                          <td>36</td>
                                          <td>8</td>
                                          <td>4</td>
                                          <td>38</td>
                                          <td>40</td> 
                                        </tr>
                                         <tr>
                                          <td>M</td>
                                          <td>38</td>
                                          <td>10</td>
                                          <td>6</td>
                                          <td>40</td>
                                          <td>42</td> 
                                        </tr>
                                         <tr>
                                          <td>L</td>
                                          <td>40</td>
                                          <td>12</td>
                                          <td>8</td>
                                          <td>42</td>
                                          <td>44</td> 
                                        </tr>
                                         <tr>
                                          <td>XL</td>
                                          <td>42</td>
                                          <td>14</td>
                                          <td>10</td>
                                          <td>44</td>
                                          <td>46</td> 
                                        </tr>
                                         <tr>
                                          <td>XXL</td>
                                          <td>44</td>
                                          <td>16</td>
                                          <td>12</td>
                                          <td>46</td>
                                          <td>48</td> 
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>		
                    </div>
                  
                  {% endif %}
                </div>
             </div>
          
          
          </div>
        </div> 
       
       <!-------end size guide popup------------>
       

      <div class="preorder-message{% if product.variants.size == 1 %}{% if product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_policy == "continue" %} single-prod-preorder{% endif%}{% endif%}" data-preorder-default="{{ 'products.product.pre-order-default' | t }}" data-preorder-date-message="{{ 'products.product.pre-order-date-one' | t }}" data-preorder-default-last="{{ 'products.product.pre-order-default-last' | t }}" {% if product.variants.size == 1 %}data-single-prod-incoming-date="{% if product.variants.first.incoming %}{{ product.variants.first.next_incoming_date | date:'%B %d, %Y'}}{% endif %}"{% endif %}></div>
      <div class="ajax-feedback product-page-feedback"></div>
      <input id="PreOrder_Date" type="hidden" name="properties[PreOrder_Date]">
      {% if product.variants.size == 1 %}
      {% if product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_policy == "continue" %}
      {% assign buttonText = 'products.product.preorder' | t %}
      {% assign buttonState = '' %}
      {% elsif product.variants.first.inventory_quantity > 0 %}
      {% assign buttonText = 'products.product.add_to_cart' | t %}
      {% assign buttonState = '' %}
      {% else %}
      {% assign buttonText = 'products.product.sold_out' | t %}
      {% assign buttonState = 'disabled' %}
      {% endif %}
      {% endif %}

      <div class="product-key-actions">
        <button type="submit" id="btn-basket" class="btn btn-primary{% if product.available != true %} variant-not-available{% endif %}" data-add-to-cart-text="{{ 'products.product.add_to_cart' | t }}" data-sold-out-text="{{ 'products.product.sold_out' | t }}" data-preorder-text="{{ 'products.product.preorder' | t }}" data-feedback-output=".product-page-feedback" {% if product.variants.size == 1 %}{{buttonState}}{% endif %}{% if product.available != true %}disabled{% endif %}>{% if product.variants.size == 1 %}{{buttonText}} {% elsif product.available != true %}{{ 'products.product.sold_out' | t }}{% else %} {{ 'products.product.add_to_cart' | t }}{% endif %}</button>
        <div class="product-wishlist">
          <div id="smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}"></div>
        </div><!-- product-wishlist -->
      </div><!-- product-key-actions -->
      {% if product.metafields.custom.tiktok != blank %}
      <button type="button" id="callTiktokModal" class="btn btn-primary">
        <img src="https://cdn.shopify.com/s/files/1/0270/6584/3821/files/image_1024x1024.png?v=1673348343" class="buttom-img" alt="Tiktok Button"/>
        <span>View On Tiktok <img src="https://cdn.shopify.com/s/files/1/0270/6584/3821/files/tiktok-icon_1024x1024.png?v=1673417039" class="" alt="Tiktok Icon"/></span>
      </button>
       {% endif %}
      <div class="numViewing">
        <strong><span id="numViewing"></span> people</strong> are looking at this item right now.
        <div class="pay_later_with_band">
          <h3>Buy Now , Pay Later With:</h3>
          <ul>
            <li class="paypal_content">
              
              <img decoding="async" src="https://cdn.shopify.com/s/files/1/0270/6584/3821/files/paypal_icon_3077b249-5318-4be3-847e-6390a6b19392.webp?v=1666631514" alt="PayPal Icon" width="48" height="26">
                <p>
                3 Interest-Free Payments of 
                <span>{{ product.price | money_without_currency | divided_by: 3 | ceil | times: 100 | money  }}</span>
              </p>
            </li>
            <li class="klarna_content">
              <img decoding="async" src="https://cdn.shopify.com/s/files/1/0270/6584/3821/files/klarna_icon_5b28d85a-2651-4ed9-94c2-ea232079f322.webp?v=1666631564" alt="Klarna Icon" width="48" height="26">
                <p>
                  3 Interest-Free Payments of 
                  <span>{{ product.price | money_without_currency | divided_by: 3 | ceil | times: 100 | money }}</span>
                </p>
            </li>
            <li class="sezzle_content">
              <img decoding="async" class="sezzle" src="https://cdn.shopify.com/s/files/1/0361/8422/7971/files/Color-Logo.png?v=1668576009" alt="Sezzle Icon" width="48" height="26">
                <p>
                  4 Interest-Free Payments of 
                  <span>{{ product.price | money_without_currency | divided_by: 4 | ceil | times: 100 | money }}</span>
                </p>
            </li>
          </ul>
        </div><!-- .pay_later_with_band -->
      </div>
      {% endform %}


      <!--  here I will add countdown timer code -->
      {% assign productTags = product.tags | join:',' %}
       {% comment %}
      {% if productTags contains 'blackfriday' %}
      <div id="counter_wrap" class="counter_wrap">
        <div class="usp-item date-countdown" data-position="1">
          <h4>{% if section.settings.title != blank %}{{section.settings.title}}{% endif %} <span class="dateCountdown" data-hours="{{section.settings.hour_range}}" data-minutes="{{section.settings.minute_range}}" data-year="{{section.settings.year}}" data-month="{{section.settings.month}}" data-month-date="{{section.settings.date}}" data-aftercountdown="{{section.settings.final}}" data-timezone="{{section.settings.timezone}}"></span> {% if section.settings.after_title != blank %}{{section.settings.after_title}}{% endif %}</h4>
        </div>
      </div>
      {% endif %}
       {% endcomment %}
       {% assign productTags = product.tags | join:',' %}
       {% if productTags contains 'Category_Sale' %}
       <div class="category_sale_info">
         <p>{{section.settings.category_sale_text}}</p>
       </div>
       {% endif %}


      <!-- accordion -->
      <div class="accordion">

        <div class="accordion__item">
          <div class="accordion__title">DESCRIPTION</div>
          <div class="accordion__body">
            <div class="accordion__content">
              <div class="rte">
                <p>{{product.description}}</p>
              </div>
            </div>
          </div>

        </div>


        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'product_detail' %} 

        <div class="accordion__item">
          <div class="accordion__title">{{block.settings.title}}</div>
          <div class="accordion__body">
            <div class="accordion__content">
              <div class="rte">
                {{block.settings.richtext}}
              </div>
            </div>
          </div>

        </div>

        {% endcase %}
        {% endfor %} 

      </div>
      <!-- accordion -->
    </div>
      <!-- usp-item date-countdown -->
      <!-- to be removed  -->
      <div id="product-additional-details" class="row">

        <div class="col-12 col-lg-4">
          <h2>Description</h2>
          <div class="rte">
            {{product.description}}
          </div>
        </div><!-- col -->

        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'product_detail' %} 

        <div class="col-12 col-lg-4">
          <p>{{block.settings.title}}</p>
          <div class="rte">
            {{block.settings.richtext}}
          </div>
        </div><!-- col -->

        {% endcase %}
        {% endfor %}

      </div><!-- product-additional-details -->
      <!-- to be removed  -->
<style>
.product-extra-detail-wrapper.po-wrap {
  display : flex;
  flex-wrap : wrap;
  width : 100%;
  flex-direction : column;
}

.product-price-container {
  order : 1;
}

.split-inventory {
  order : 2;
  margin-top : 15px;
}

.product-upsell {
  order : 3;
}

.product-swatch.swatch-colour {
  order : 4;
}

form.singleProductPreOrderForm {
  order : 5;
}

.accordion {
  order : 6;
}

div.payment-wrapper>div:nth-of-type(180) {
  order : 7;
  border : 1px solid rgb(0, 0, 0);
  border-radius : 25px;
  margin-top : 20px;
}

div[data-pp-messageb] {
  padding-top : 15px;
  padding-right : 15px;
  padding-left : 15px;
  border-bottom : 1px solid;
  padding-bottom : 4px;
}

#shopify-section-product .product-extra-detail-wrapper .klarana-sale-text-info klarna-placement {
  border-bottom : 1px solid;
  padding : 15px !important;
  margin : 0px !important;
}

.product-extra-detail-wrapper p.laybuy-paragraph span.laybuy-text1 {
  padding : 15px;
}

#pd-size-info {
  text-align : center;
  width : 100%;
  align-items : center;
  justify-content : center;
  white-space : normal;
}

.shopify-product-form>span b {
  margin-right : 5px;
  text-transform : lowercase !important;
}

body .split-inventory {
  display : block;
}

.product-upsell {
  margin : 0px;
}

#shopify-section-product .product-detail .product-extra-detail-wrapper .product-upsell {
  margin : 0px;
  padding : 0px !important;
}

#pd-size-info-size-info {
  text-transform : lowercase;
  display : block;
  margin-top : 15px !important;
}
@media (max-width: 767px) {
  .split-inventory>div {
    text-align : center;
  }
}
div.product-extra-detail-wrapper>form>span:nth-of-type(2), #product_form_7234122318017>span:nth-of-type(2) {
  text-align : center;
  display : inline-block;
  width : 100%;
  position : relative;
  top : 15px;
  text-transform : none !important;
}

klarna-placement>div>div>div>p, klarna-placement>div>div>div>p>button {
  font-size : 12px;
}

klarna-placement>div>div>div>p>button {
  text-decoration-line : none;
  text-decoration-thickness : initial;
  text-decoration-style : initial;
  text-decoration-color : initial;
  color : rgb(0, 112, 186);
}

p.laybuy-paragraph span {
  font-size : 14px !important;
  text-transform : none !important;
  font-weight : normal !important;
}

div.payment-wrapper {
  border : 1px solid rgb(0, 0, 0) !important;
  border-radius : 25px !important;
  margin : 20px 0px !important;
  padding : 10px 0px !important;
}

div.payment-wrapper>div[data-pp-message] {
  border : none;
  margin-top : 0px;
  padding-left : 15px;
}

.product-klarna-upsell.klarana-sale-text-info {
  display : block;
  margin-top : 0px;
}

div.product-klarna-upsell.klarana-sale-text-info>klarna-placement {
  border-top : 1px solid rgb(0, 0, 0);
  border-bottom : 1px solid rgb(0, 0, 0);
  padding : 8px 0px;
}

div.product-klarna-upsell.klarana-sale-text-info>klarna-placement>div {
  display : block !important;
  padding : 8px 0px 8px 15px !important;
  border-top : 1px solid rgb(0, 0, 0) !important;
  border-bottom : 1px solid rgb(0, 0, 0) !important;
}

p.laybuy-paragraph {
  margin : 8px 0px 0px 15px !important;
}
  .product-klarna-upsell {
    margin-top: 0px !important;
}
  #shopify-section-product > div > div:nth-child(2) > div.col-12.col-lg-5.product-detail > div.payment-wrapper > div > klarna-placement {
margin-left:10px !important;
  }
</style>
<div class="payment-wrapper">
       {% if section.settings.show_klarna == true %}
       <div class="product-klarna-upsell">
         {% if shop.domain contains "us." %}

         <klarna-placement
                           data-key="credit-promotion-auto-size"
                           data-locale="en-US"
                           data-purchase-amount="{{ product.price }}"
                           ></klarna-placement>
         {% else %}
         <!-- Placement v2 -->
         <klarna-placement
                           data-key="credit-promotion-standard"
                           data-locale="en-GB"
                           data-purchase-amount="{{ product.price }}"
                           ></klarna-placement>
         <!-- end Placement -->
         {% endif %}
       </div><!-- product-klarna-upsell -->
       {% endif %}
</div>
    </div><!-- product-detail -->

  </div><!-- row -->
{% include 'cross-sell' %}
{% render 'okendo-reviews-widget', product: product %}


<div id="foursixty-hideable-container" style="display:none">

<div class="style-heading-wrap">
<div class="row">
<div class="col-12">
<div class="line-heading">
<h3>As Seen On</h3>
</div>
</div><!-- col -->
</div><!-- row -->
</div>

<script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-feed-id="public-desire_1" data-money-format="£<%= amount %>" data-theme="slider_v2_5" data-open-links-in-same-page="true" data-connector-filter="46460,46461" data-show-okendo-stars="true" data-cell-size="33.333%" data-has-posts-selector="#foursixty-hideable-container" data-for-url="true"></script>
</div>
<style>.fs-has-links::after { padding:4px 8px;color:#ffffff;content:"SHOP NOW"; } .fs-wrapper { height:auto; } .fs-slider_v2_5 .fs-entry-container { height:0 !important;width:33.333%!important;padding-top:33.333%!important; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:"Gotham", sans-serif;font-style:normal;font-weight:normal;font-size:14px; } div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:"Druk", serif;font-style:normal;font-weight:normal;font-size:18px; } .fs-slider-next-button, .fs-slider-prev-button { opacity:1; } .fs-wrapper div.fs-text-container * { color:#ffffff; } .fs-wrapper div.fs-text-container { background-color:rgba(0, 0, 0, 0.8);margin:0px; } div.fs-entry-date { display:none; } div.fs-entry-title { display:none; } .fs-slider_v2_5 .fs-wrapper div.fs-timeline-entry { margin:2px; } span.fs-product-name { white-space: normal; } .fs-post-info a { font-size: 14px !important; font-family: "Druk", serif;; } .fs-view a { font-size: 12px !important; font-family: "Gotham", sans-serif; } .fs-shopify-add-cart.fs-shopify-add-cart-container { max-width: 110px; font-size: 14px; padding: 12px 15px; color: #fff; background-color: rgba(2,2,2,1); font-family: "Druk", serif;} .fs-button-bar .fs-buy-button {font-family: "Druk", serif;; font-size: 16px; color: #fff; } .fs-wrapper { text-align: center } </style>

{% if product.metafields.custom.tiktok != blank %}
{% include 'tiktok-popup' %}
{% endif %}  
  
{% comment %}
<div id="foursixty-hideable-container"  style="display:none">
  <div class="style-heading-wrap">
    <div class="row">
      <div class="col-12">
        <div class="line-heading"><h3>Styled By You</h3></div>
      </div><!-- col -->
    </div><!-- row -->
  </div>


  <script data-src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="public-desire_1" data-money-format="£<%= amount %>" data-theme="showcase_v2_5" data-open-links-in-same-page="true" data-page-size="4" data-for-url="true"
data-has-posts-selector="#foursixty-hideable-container"></script>
  </div>
  <style>
    .fs-has-links::after { padding:15px 22.5px;border:2px solid rgba(2,2,2,1);color:rgba(2,2,2,1);content:"SHOP NOW"; } .fs-has-links:hover:after { background-color:rgba(2,2,2,1);color:rgba(255,255,255,0.93); } .fs-wrapper { height:auto; } .fs-entry-container { height:0 !important;width:25%!important;padding-top:25%!important; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:"Gotham", sans-serif;font-style:normal;font-weight:normal;font-size:14px; } div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:"Druk", serif;font-style:normal;font-weight:normal;font-size:18px; } .fs-wrapper div.fs-text-container * { color:rgba(2,2,2,1); } .fs-wrapper div.fs-text-container { background-color:rgba(255,255,255,0.93);margin:0px; } div.fs-entry-date { display:none; } div.fs-entry-title { display:none; } .fs-wrapper div.fs-timeline-entry { margin:1px; } 

    span.fs-product-name {
      white-space: normal;
    }

    .fs-post-info a {
      font-size: 14px !important;
      font-family: "Druk", serif;;
    }

    .fs-view a {
      font-size: 12px !important;
      font-family: "Gotham", sans-serif;
    }

    .fs-shopify-add-cart.fs-shopify-add-cart-container 
    {  
      max-width: 110px; 
      font-size: 14px; padding: 12px 15px; 
      color: #fff; background-color: rgba(2,2,2,1); 
      font-family: "Druk", serif;}

    .fs-button-bar .fs-buy-button {font-family: "Druk", serif;; font-size: 16px; color: #fff; }

  </style>
  {% endcomment %}
  
  {% comment %}
  <!-- You May Also Like Section -->
  <div class="row">
    <div class="col-12">
        <div class="line-heading"><h3>You May Also Like</h3></div>
      </div><!-- col -->
  </div>
  <div id="related-products">
    {% for product in collections['new-in'].products %}
    <div class="product-listing">
      <div class="product-image">
          <a href="{{ product.url }}">
            <img class="product__img" src="{{ product.featured_image | img_url: 'original' }}" alt="{{ product.featured_image.alt }}" />
          </a>
      </div>
      <div class="product-details">
        <h3 class="product-title"><a href="{{ product.url }}">{{ product.title }}</a></h3>
        <span class="product-price"><span class="money">{{ product.price | money}}</span></span>
      </div>
      
    </div>
    
    {% endfor %}
  </div>
  <!-- You May Also Like Section -->
  {% endcomment %}
  
  {% if section.settings.show_recently_viewed_products %}
  {% render 'product-recently-viewed', product_handle: product.handle, image_ratio: section.settings.recently_viewed_ratio, title: section.settings.recently_viewed_products_title %}
  {% endif %}
<style>.split-inventory {display:none;} .split-inventory > div{    text-transform: capitalize !important;}</style>


</div><!-- container -->

{% comment %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>{% endcomment %}
<script>
  $( document ).ready(function() {
    $('select.product-swatch-list').change(function() {
      setTimeout(function(){
        var preoder_text_info= $(".gPreorderTopMessage").text();
        $("select.product-swatch-list").each(function() {
          var selectdVariant = this.value;
        setCookie('preorder_text'+selectdVariant, preoder_text_info,1);
       // console.log(preoder_text_info +'-' +selectdVariant);
        });
        }, 1000); 
    });
// Size Chart Popup Script
  
var modal = document.getElementById("myModal-size-info");

// Get the button that opens the modal
var btn = document.getElementById("pd-size-info");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
    
});

  </script>
          
<script>
document.addEventListener("DOMContentLoaded", () => {
  let desktopSizeSelector = document.querySelectorAll("ul.product-swatch-list.desktop.d-none > li");
  if(desktopSizeSelector.length != 0){
    for(let h=0; desktopSizeSelector[h]; h++){
      desktopSizeSelector[h].addEventListener('click',function(){
        let inventoryMessage, selectedInventory = parseInt(desktopSizeSelector[h].getAttribute('data-inventory-quantity'));
        if(selectedInventory > 0){
          if(selectedInventory < 15) inventoryMessage = 'In Stock — Only '+selectedInventory+' Left!';
          else inventoryMessage = 'In Stock — Only a Few Left!';
        } else inventoryMessage = 'This product is out of stock.';
        document.querySelector("#variant-inventory1").innerText = inventoryMessage;
        let preoder_text_info = document.querySelector(".gPreorderTopMessage");
        if(preoder_text_info !== null){
          preoder_text_info = preoder_text_info.innerText;
        } else { preoder_text_info = ''; }
        let selectdVariant = desktopSizeSelector[h].getAttribute('data-variant-id');
        setCookie('preorder_text'+selectdVariant, preoder_text_info,1);
      });
    }
  }
});
</script>

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
    "type": 		"header",
    "content": 		"Main Image"
    },
    {
    "type":         "select",
    "id":           "main_ratio",
    "label":        "Main Image - Fixed Ratio?",
    "options": 
	[
        {
        "value": "fixed-ratio square-crop",
        "label": "Square (4x4 Cropped)"
        },
        {
        "value": "fixed-ratio square",
        "label": "Square (4x4)"
        },
        {
        "value": "fixed-ratio portrait-crop",
        "label": "Portrait (4x5 Cropped)"
        },
        {
        "value": "fixed-ratio portrait",
        "label": "Portrait (4x5)"
        },
        {
        "value": "",
        "label": "No Set Ratio"
        }
     ],
	"default":   "fixed-ratio square"
	},

    {
    "type": 		"header",
    "content": 		"Thumbnail Image"
    },

    {
    "type":         "select",
    "id":           "thumbnail_ratio",
    "label":        "Thumbnail Image - Fixed Ratio?",
    "options": 
	[
        {
        "value": "fixed-ratio square-crop",
        "label": "Square (4x4 Cropped)"
        },
        {
        "value": "fixed-ratio square",
        "label": "Square (4x4)"
        },
        {
        "value": "fixed-ratio portrait-crop",
        "label": "Portrait (4x5 Cropped)"
        },
        {
        "value": "fixed-ratio portrait",
        "label": "Portrait (4x5)"
        },
        {
        "value": "",
        "label": "No Set Ratio"
        }
    ],
    "default":   "fixed-ratio square"
    },

    {
    "type": 	"header",
    "content": 	"Size Guide"
    },

    {
    "type": "text",
    "id": "size_guide_text",
    "default": "Size Guide",
    "label": "Size Guide Text"
    },

    {
    "id": "size_guide_link",
    "type": "url",
    "label": "Size Guide URL"
    },
    {
    "type": "text",
    "id": "category_sale_text",
    "label": "Category Sale Text"
    },

    {
    "type": 		"header",
    "content": 		"Klarna"
    },

    {
    "type": 	"paragraph",
    "content": 	"Klarna upsell message."
    },

    {
    "type": 	"checkbox",
    "id": 		"show_klarna",
    "label": 	"Show Klarna",
    "default": 	true
    },

    {
    "type": "html",
    "id": "klarna_richtext_one",
    "label": "Klarna  Content",
    "default": "<p>Content before logo</p>"
    },

    {
    "type": "image_picker",
    "id": "klarna_img",      
    "label": "Klarna Logo"
    },

    {
    "type": "richtext",
    "id": "klarna_richtext_two",
    "label": "Klarna After Content",
    "default": "<p>Content after logo</p>"
    },

    {
    "type": 		"header",
    "content": 		"Product Upsell"
    },

    {
    "type": 	"paragraph",
    "content": 	"Product upsell content will appear across all products."
    },

    {
    "type": 	"checkbox",
    "id": 		"show_product_upsell",
    "label": 	"Show product upsell?",
    "default": 	true
    },

    {
    "type": "html",
    "id": "product_upsell_richtext",
    "label": "Product Upsell Banner Content",
    "default": "<p>Pay in 3 installments of £15.00</p>"
    },

    {
    "type": "image_picker",
    "id": "product_upsell_clearpay_img",      
    "label": "Product Upsell Clearpay Image"
    },

    {
    "type": "text",
    "id": "product_upsell_link_text",
    "default": "Learn More",
    "label": "Product Upsell Link Text"
    },

    {
    "id": "product_upsell_link",
    "type": "url",
    "label": "Product Upsell URL"
    },

    {
    "type": 	"header",
    "content": 	"Recently Viewed Options"
    },

    {
    "type": "checkbox",
    "id": "show_recently_viewed_products",
    "label": "Show recently viewed products?",
    "default": true
    },

    {
    "type": "text",
    "id": "recently_viewed_products_title",
    "default": "Recently Viewed",
    "label": "Recently Viewed Title"
    },

    {
    "type":         "select",
    "id":           "recently_viewed_ratio",
    "label":        "Recently Viewed - Fixed Ratio?",
    "options": [
    {
    "value": "fixed-ratio square-crop",
    "label": "Square (4x4 Cropped)"
    },

    {
    "value": "fixed-ratio square",
    "label": "Square (4x4)"
    },

    {
    "value": "fixed-ratio portrait-crop",
    "label": "Portrait (4x5 Cropped)"
    },

    {
    "value": "fixed-ratio portrait",
    "label": "Portrait (4x5)"
    },

    {
    "value": "",
    "label": "No Set Ratio"
    }
    ],
    "default":   "fixed-ratio portrait-crop"
    },
    {
    "type": 	"header",
    "content": 	"You May Also Liked Options"
    },
    {
    "type": "checkbox",
    "id": "show_you_may_aslo_liked_products",
    "label": "Show You May Also Liked products?",
    "default": true
    },
    {
    "type": "text",
    "id": "you_may_aslo_liked_products_title",
    "default": "You May Also Liked",
    "label": "You May Also Liked Title"
    },

    {
    "type":         "select",
    "id":           "you_may_aslo_liked_ratio",
    "label":        "You May Also Liked - Fixed Ratio?",
    "options": [
    {
    "value": "fixed-ratio square-crop",
    "label": "Square (4x4 Cropped)"
    },
    {
    "value": "fixed-ratio square",
    "label": "Square (4x4)"
    },
    {
    "value": "fixed-ratio portrait-crop",
    "label": "Portrait (4x5 Cropped)"
    },
    {
    "value": "fixed-ratio portrait",
    "label": "Portrait (4x5)"
    },
    {
    "value": "",
    "label": "No Set Ratio"
    }
    ],
    "default":   "fixed-ratio portrait-crop"
    },
    {
    "type": 	"header",
    "content": 	"Social Share Option"
    },
    {
    "type": "checkbox",
    "id": "show_share_buttons",
    "label": "Show Social Share Buttons?",
    "default": true
    },
    {
    "type": "header",
    "content": "Cyber Date Counter Settings"
    },
    {
    "type":     "paragraph",
    "content":  "Countdown to a specific date and time."
    },
    {
    "type":      "select",
    "id":        "month",
    "label":     "Select a Month",
    "options": [
    {
    "value": "01",
    "label": "January"
    },
    {
    "value": "02",
    "label": "February"
    },
    {
    "value": "03",
    "label": "March"
    },
    {
    "value": "04",
    "label": "April"
    },
    {
    "value": "05",
    "label": "May"
    },
    {
    "value": "06",
    "label": "June"
    },
    {
    "value": "07",
    "label": "July"
    },
    {
    "value": "08",
    "label": "August"
    },
    {
    "value": "09",
    "label": "September"
    },
    {
    "value": "10",
    "label": "October"
    },
    {
    "value": "11",
    "label": "November"
    },
    {
    "value": "12",
    "label": "December"
    }
    ],
    "default":   "10"
    },
    {
    "type":      "select",
    "id":        "date",
    "label":     "Select a date",
    "options": [
    {
    "value": "01",
    "label": "01"
    },
    {
    "value": "02",
    "label": "02"
    },
    {
    "value": "03",
    "label": "03"
    },
    {
    "value": "04",
    "label": "04"
    },
    {
    "value": "05",
    "label": "05"
    },
    {
    "value": "06",
    "label": "06"
    },
    {
    "value": "07",
    "label": "07"
    },
    {
    "value": "08",
    "label": "08"
    },
    {
    "value": "09",
    "label": "09"
    },
    {
    "value": "10",
    "label": "10"
    },
    {
    "value": "11",
    "label": "11"
    },
    {
    "value": "12",
    "label": "12"
    },
    {
    "value": "13",
    "label": "13"
    },
    {
    "value": "14",
    "label": "14"
    },
    {
    "value": "15",
    "label": "15"
    },
    {
    "value": "16",
    "label": "16"
    },
    {
    "value": "17",
    "label": "17"
    },
    {
    "value": "18",
    "label": "18"
    },
    {
    "value": "19",
    "label": "19"
    },
    {
    "value": "20",
    "label": "20"
    },
    {
    "value": "21",
    "label": "21"
    },
    {
    "value": "22",
    "label": "22"
    },
    {
    "value": "23",
    "label": "23"
    },
    {
    "value": "24",
    "label": "24"
    },
    {
    "value": "25",
    "label": "25"
    },
    {
    "value": "26",
    "label": "26"
    },
    {
    "value": "27",
    "label": "27"
    },
    {
    "value": "28",
    "label": "28"
    },
    {
    "value": "29",
    "label": "29"
    },
    {
    "value": "30",
    "label": "30"
    },
    {
    "value": "31",
    "label": "31"
    }
    ],
    "default":  "15"
    },
    {
    "type":      "select",
    "id":        "year",
    "label":     "Select a Year",
    "options": [
    {
    "value": "2020",
    "label": "2020"
    },
    {
    "value": "2021",
    "label": "2021"
    },
    {
    "value": "2022",
    "label": "2022"
    },
    {
    "value": "2023",
    "label": "2023"
    },
    {
    "value": "2024",
    "label": "2024"
    },
    {
    "value": "2025",
    "label": "2025"
    },
    {
    "value": "2026",
    "label": "2026"
    },
    {
    "value": "2027",
    "label": "2027"
    },
    {
    "value": "2028",
    "label": "2028"
    },
    {
    "value": "2029",
    "label": "2029"
    },
    {
    "value": "2030",
    "label": "2030"
    }
    ],
    "default":   "2020"
    },
    {
    "type":      "range",
    "id":        "hour_range",
    "min":        1,
    "max":        23,
    "step":       1,
    "label":     "Hour",
    "default":   1,
    "info":      "24 hour clock format"
    },
    {
    "type":      "range",
    "id":        "minute_range",
    "min":        0,
    "max":        59,
    "step":       1,
    "label":     "Minute",
    "default":   0
    },
    {
    "type":      "select",
    "id":        "timezone",
    "label":     "Select a timezone",
    "options": [
    {
    "value": "us",
    "label": "US (PST)"
    },
    {
    "value": "uk",
    "label": "UK"
    }
    ],
    "default":   "uk"
    },
    {
    "type":      "text",
    "id":        "title",
    "label":     "Before timer"
    },
    {
    "type":      "text",
    "id":        "after_title",
    "label":     "After timer"
    },
    {
    "type":      "text",
    "id":        "final",
    "label":     "Finished Text",
    "info":      "Once timer has finished, this text will show"
    }
    ],
    "blocks": [
    {
    "type": "product_detail",
    "name": "Product Detail",
    "limit": 2,
    "settings": [
    {
    "type":      "text",
    "id":        "title",
    "label":     "Title"
    },
    {
    "type":      "richtext",
    "id":        "richtext",
    "label":     "Content",
    "default":   "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nam eius voluptates vel molestias, ipsa labore esse ab doloribus. Nam.</p>"
    }
]
}
]
}
{% endschema %}

<script>
 
  var modal = document.querySelector(".tiktokModal");
  var triggers = document.querySelectorAll("#callTiktokModal");
  var closeButton = document.querySelector(".close-button");
  var htmlbody = document.querySelector("html");
  
  function toggleModal() {
    modal.classList.toggle("tiktokModal-open");
    htmlbody.classList.toggle("htmlbody-tiktok");
  }
  
  function windowOnClick(event) {
    if (event.target === modal) {
      toggleModal();
    }
  }
  
  for (var i = 0, len = triggers.length; i < len; i++) {
    triggers[i].addEventListener("click", toggleModal);
  }
  closeButton.addEventListener("click", toggleModal);
  window.addEventListener("click", windowOnClick);
</script>