<div class="container-fluid py-3">
	<div class="row">
		<div class="col-12 text-v-small">{% include 'breadcrumbs' %}</div>
	</div><!-- row -->
</div><!-- container -->

<div class="container">

<header class="row align-items-center page-header">
    <div class="col-12 mx-auto text-center mb-4">
            <h1>Create an Account</h1>
        </div>
</header>

<div class="row mb-5">
	<div class="col-12 col-md-8 col-lg-6 mx-auto">
		<div class="one-click-social-login"></div>
		<span class="account-divide">OR</span>
        {% form 'create_customer', class: "validation-invalid" %}
			<div class="row">

                <div class="col-12">
                  {{ form.errors | default_errors }}
                </div>

				<div class="form-group col-12">
					<label for="FirstName" class="d-none uppercase bold required">
					{{ 'customer.register.first_name' | t }}
					</label>
					<input type="text" name="customer[first_name]" class="required" id="FirstName" placeholder="First Name*" autofocus {% if form.first_name %}value="{{ form.first_name }}"{% endif %}  pattern="^[a-zA-Z]+(?:\s+[a-zA-Z]+)*$">
				</div><!-- col -->

				<div class="form-group col-12">
					<label for="LastName" class="d-none uppercase bold required">
					{{ 'customer.register.last_name' | t }}
					</label>
					<input type="text" name="customer[last_name]" class="required" id="LastName" placeholder="Surname*" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}  pattern="^[a-zA-Z]+(?:\s+[a-zA-Z]+)*$">
				</div><!-- col -->

                 <div class="form-group col-12">
                    <label for="Birthday" class="d-none uppercase bold">Date of Birth</label> 
                    <input type="text" value="" pattern="\d{1,2}/\d{1,2}/\d{4}" name="customer[note][birthday]" id="birthday" placeholder="Date of Birth (DD/MM/YYYY)" min="10" maxlength="10"/>
                </div>

                <div class="form-group col-12">
                    <label for="mobile" class="d-none uppercase bold">Mobile Number</label> 
                    <input type="text" value="" name="customer[note][mobile]" id="mobile" placeholder="Mobile Number"/>
                </div>

				<div class="form-group col-12">
					<label for="Email" class="d-none uppercase bold required">
					{{ 'customer.register.email' | t }}
					</label>
					<input type="email" name="customer[email]" class="required" id="Email" placeholder="Email Address*" class="{% if form.errors contains 'email' %}input-error{% endif %}" value="{% if form.email %}{{ form.email }}{% endif %}" spellcheck="false" autocomplete="off" autocapitalize="off">
				</div><!-- col -->

                <div class="form-group col-12">
                    <label for="Password" class="d-none uppercase bold required password-required">Password</label>
                    <input type="password" id="PasswordOne" class="required password-required" placeholder="Password*">
                </div><!-- col -->

				<div class="form-group col-12">
					<label for="CreatePassword" class="d-none uppercase bold required password-required">
					Confirm Password
					</label>
					<input type="password" class="required password-required" placeholder="Repeat Password*" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %}input-error{% endif %}">
				</div><!-- col -->

                {% comment %} <div class="form-group col-12 checkbox-input">
                    <input type="hidden" name="customer[accepts_marketing]" value="" />
                    <input type="checkbox" name="customer[accepts_marketing]" />
                    <span class="checkbox-label text-small">Sign up for our newsletter.</span>
                </div><!-- col --> {% endcomment %}
			</div>

			<div class="row">
                <div class="col-12 text-center">
				    <button type="submit" id="btn-create-account" class="btn btn-secondary btn-wide btn-account">{{ 'customer.register.title' | t }}</button>
                </div><!-- col -->
                <div class="col-12 text-center">
                    <a href="/account/login" class="account-link">{{ 'customer.register.existing_account' | t }}</a>
                </div>
			</div><!-- row -->

					
            {% endform %}
		
		</div>
	</div>
</div>

{% schema %}
  {
    "name": "Register",
		"settings": [
			{
				"type": "image_picker",
				"id": "background",
				"label": "Header BG Image",
				"info": "Optimal image size: 1920 x 350"
			}
		]
  }
{% endschema %}